# Task 3.1 ==> PYSPARK

In [1]:
#Import and initiate findspark Then import pyspark

import findspark

findspark.init("/usr/local/spark")

import pyspark

Starting spark session

In [2]:
from pyspark.sql import SparkSession
appName = "PySpark Hive Example"
master = "local"
# Create Spark session with Hive supported.
spark = SparkSession.builder \
.appName(appName) \
.master(master) \
.enableHiveSupport() \
.getOrCreate()

# 1 Develop a PySpark application to load data Spark DataFrames and save it into Hive tables on a Hadoop cluster in an optimized format.

Loadind data from hdfs

In [3]:
CarSales=spark.read.csv('Car_sales_details_p3.csv', inferSchema=True,header=True)

In [4]:
region =spark.read.csv('State_region_mapping_p3.csv', inferSchema=True,header=True)

In [5]:
salesStatus=spark.read.csv('sales_Status_p3.csv', inferSchema=True,header=True)

In [6]:
CarSales.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 20 rows

In [7]:
salesStatus.show()

+--------+----+
|Sales_ID|sold|
+--------+----+
|       1|   Y|
|       2|   Y|
|       3|   Y|
|       4|   Y|
|       5|   Y|
|       6|   Y|
|       7|   Y|
|       8|   Y|
|       9|   Y|
|      10|   Y|
|      11|   Y|
|      12|   Y|
|      13|   Y|
|      15|   Y|
|      16|   Y|
|      17|   Y|
|      18|   Y|
|      19|   Y|
|      20|   Y|
|      21|   Y|
+--------+----+
only showing top 20 rows

In [8]:
region.show()

+-------+--------------------+
| Region|   State or Province|
+-------+--------------------+
|Central|            Illinois|
|Central|             Indiana|
|Central|                Iowa|
|Central|              Kansas|
|Central|            Michigan|
|Central|           Minnesota|
|Central|            Missouri|
|Central|            Nebraska|
|Central|        North Dakota|
|Central|            Oklahoma|
|Central|        South Dakota|
|Central|               Texas|
|Central|           Wisconsin|
|   East|         Connecticut|
|   East|            Delaware|
|   East|District of Columbia|
|   East|               Maine|
|   East|            Maryland|
|   East|       Massachusetts|
|   East|       New Hampshire|
+-------+--------------------+
only showing top 20 rows

In [9]:
region.printSchema()

root
 |-- Region: string (nullable = true)
 |-- State or Province: string (nullable = true)

# DataTransformation

In [10]:
CarSales=CarSales.withColumnRenamed("State or Province","State_or_Province")
region=region.withColumnRenamed("State or Province","State_or_Province")
CarSales.printSchema()
#Renaming the column to make it a single word string

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- State_or_Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- engine: string (nullable = true)
 |-- max_power: string (nullable = true)
 |-- seats: integer (nullable = true)

# joining the tables

In [11]:
#Joining the tables and displaying them
New_cars=CarSales.join(region,['State_or_Province'])
New_cars=CarSales.join(salesStatus,['Sales_ID'])
New_cars.show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|sold|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|   Y|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|   Y|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|   Y|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|   Y|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|   Y|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|   Y|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|   Y|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|   Y|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|   Y|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|   Y|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|   Y|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|   Y|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|   Y|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|   Y|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|   Y|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|   Y|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|   Y|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|   Y|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
only showing top 20 rows

In [12]:
CarSales.show(5)

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 5 rows

# Save df to a new table in Hive

In [13]:
 #saving the data frame into table to run the hive queries 
CarSales.write.mode("overwrite").saveAsTable('CarSales')
spark.sql("select * from CarSales").show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+
only showing top 20 rows

In [14]:
#since we need fetch the cars sales details , we are trying to get sold cars (status 'Y')
salesStatus.write.mode("overwrite").saveAsTable("salesStatus")

spark.sql("select * from salesStatus").show()

+--------+----+
|Sales_ID|sold|
+--------+----+
|       1|   Y|
|       2|   Y|
|       3|   Y|
|       4|   Y|
|       5|   Y|
|       6|   Y|
|       7|   Y|
|       8|   Y|
|       9|   Y|
|      10|   Y|
|      11|   Y|
|      12|   Y|
|      13|   Y|
|      15|   Y|
|      16|   Y|
|      17|   Y|
|      18|   Y|
|      19|   Y|
|      20|   Y|
|      21|   Y|
+--------+----+
only showing top 20 rows

In [15]:
region.write.mode("overwrite").saveAsTable("region")
spark.sql("select * from region").show()

+-------+--------------------+
| Region|   State_or_Province|
+-------+--------------------+
|Central|            Illinois|
|Central|             Indiana|
|Central|                Iowa|
|Central|              Kansas|
|Central|            Michigan|
|Central|           Minnesota|
|Central|            Missouri|
|Central|            Nebraska|
|Central|        North Dakota|
|Central|            Oklahoma|
|Central|        South Dakota|
|Central|               Texas|
|Central|           Wisconsin|
|   East|         Connecticut|
|   East|            Delaware|
|   East|District of Columbia|
|   East|               Maine|
|   East|            Maryland|
|   East|       Massachusetts|
|   East|       New Hampshire|
+-------+--------------------+
only showing top 20 rows

In [16]:
 
New_cars.write.mode("overwrite").saveAsTable("New_cars")
 
spark.sql("select * from New_cars").show()

+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|Sales_ID|                name|year|selling_price|km_driven|   State_or_Province|         City|  fuel|seller_type|transmission|       owner|   mileage| engine| max_power|seats|sold|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|   Washington|Diesel| Individual|      Manual| First Owner| 23.4 kmpl|1248 CC|    74 bhp|    5|   Y|
|       2|Skoda Rapid 1.5 T...|2014|       370000|   120000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|21.14 kmpl|1498 CC|103.52 bhp|    5|   Y|
|       3|Honda City 2017-2...|2006|       158000|   140000|            Illinois|      Chicago|Petrol| Individual|      Manual| Third Owner| 17.7 kmpl|1497 CC|    78 bhp|    5|   Y|
|       4|Hyundai i20 Sport...|2010|       225000|   127000|            Illinois|      Chicago|Diesel| Individual|      Manual| First Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|
|       5|Maruti Swift VXI ...|2007|       130000|   120000|            New York|New York City|Petrol| Individual|      Manual| First Owner| 16.1 kmpl|1298 CC|  88.2 bhp|    5|   Y|
|       6|Hyundai Xcent 1.2...|2017|       440000|    45000|            New York|New York City|Petrol| Individual|      Manual| First Owner|20.14 kmpl|1197 CC| 81.86 bhp|    5|   Y|
|       7|Maruti Wagon R LX...|2007|        96000|   175000|          California|  Los Angeles|   LPG| Individual|      Manual| First Owner|17.3 km/kg|1061 CC|  57.5 bhp|    5|   Y|
|       8|  Maruti 800 DX BSII|2001|        45000|     5000|          California|  Los Angeles|Petrol| Individual|      Manual|Second Owner| 16.1 kmpl| 796 CC|    37 bhp|    4|   Y|
|       9|    Toyota Etios VXD|2011|       350000|    90000|          California|  Los Angeles|Diesel| Individual|      Manual| First Owner|23.59 kmpl|1364 CC|  67.1 bhp|    5|   Y|
|      10|Ford Figo Diesel ...|2013|       200000|   169000|               Texas|      Houston|Diesel| Individual|      Manual| First Owner| 20.0 kmpl|1399 CC|  68.1 bhp|    5|   Y|
|      11|Renault Duster 11...|2014|       500000|    68000|            New York|New York City|Diesel| Individual|      Manual|Second Owner|19.01 kmpl|1461 CC|108.45 bhp|    5|   Y|
|      12|       Maruti Zen LX|2005|        92000|   100000|               Texas|      Houston|Petrol| Individual|      Manual|Second Owner| 17.3 kmpl| 993 CC|    60 bhp|    5|   Y|
|      13|Maruti Swift Dzir...|2009|       280000|   140000|               Texas|      Houston|Diesel| Individual|      Manual|Second Owner| 19.3 kmpl|1248 CC|  73.9 bhp|    5|   Y|
|      15|Maruti Wagon R LX...|2009|       180000|    90000|       Massachusetts|       Boston|Petrol| Individual|      Manual|Second Owner| 18.9 kmpl|1061 CC|    67 bhp|    5|   Y|
|      16|Mahindra KUV 100 ...|2016|       400000|    40000|       Massachusetts|       Boston|Petrol| Individual|      Manual| First Owner|18.15 kmpl|1198 CC|    82 bhp|    5|   Y|
|      17|Maruti Ertiga SHV...|2016|       778000|    70000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner|24.52 kmpl|1248 CC|  88.5 bhp|    7|   Y|
|      18|Hyundai i20 1.4 C...|2012|       500000|    53000|               Texas|       Dallas|Diesel| Individual|      Manual|Second Owner| 23.0 kmpl|1396 CC|    90 bhp|    5|   Y|
|      19|      Maruti Alto LX|2002|       150000|    80000|               Texas|       Dallas|Petrol| Individual|      Manual|Second Owner| 19.7 kmpl| 796 CC|  46.3 bhp|    5|   Y|
|      20|Hyundai i20 2015-...|2016|       680000|   100000|            New York|New York City|Diesel| Individual|      Manual| First Owner|22.54 kmpl|1396 CC| 88.73 bhp|    5|   Y|
|      21|Mahindra Verito 1...|2011|       174000|   100000|            New York|New York City|Diesel| Individual|      Manual|Second Owner| 21.0 kmpl|1461 CC|  64.1 bhp|    5|   Y|
+--------+--------------------+----+-------------+---------+--------------------+-------------+------+-----------+------------+------------+----------+-------+----------+-----+----+
only showing top 20 rows

In [22]:
New_cars.select('name', 'year', 'selling_price').show(10)

+--------------------+----+-------------+
|                name|year|selling_price|
+--------------------+----+-------------+
|Maruti Swift Dzir...|2014|       450000|
|Skoda Rapid 1.5 T...|2014|       370000|
|Honda City 2017-2...|2006|       158000|
|Hyundai i20 Sport...|2010|       225000|
|Maruti Swift VXI ...|2007|       130000|
|Hyundai Xcent 1.2...|2017|       440000|
|Maruti Wagon R LX...|2007|        96000|
|  Maruti 800 DX BSII|2001|        45000|
|    Toyota Etios VXD|2011|       350000|
|Ford Figo Diesel ...|2013|       200000|
+--------------------+----+-------------+
only showing top 10 rows

In [25]:
#filter data by null values
df_fuel=New_cars.filter(New_cars.fuel.isNotNull())
df_fuel.select("fuel").distinct().show()

+------+
|  fuel|
+------+
|Diesel|
|   CNG|
|   LPG|
|Petrol|
+------+

In [26]:
New_cars.dtypes

[('Sales_ID', 'int'),
 ('name', 'string'),
 ('year', 'int'),
 ('selling_price', 'int'),
 ('km_driven', 'int'),
 ('State_or_Province', 'string'),
 ('City', 'string'),
 ('fuel', 'string'),
 ('seller_type', 'string'),
 ('transmission', 'string'),
 ('owner', 'string'),
 ('mileage', 'string'),
 ('engine', 'string'),
 ('max_power', 'string'),
 ('seats', 'int'),
 ('sold', 'string')]

In [27]:
from pyspark.sql.types import *
Schema=StructType([
  StructField('Sales_ID',IntegerType(),nullable=True),
  StructField('name',StringType(),nullable=True),
  StructField('year',IntegerType(),nullable=True),
  StructField('selling_price',IntegerType(),nullable=True),
  StructField('km_driven',IntegerType(),nullable=True), 
  StructField('State or Province',StringType(),nullable=True),
  StructField('City',StringType(),nullable=True),
  StructField('fuel',StringType(),nullable=True),
  StructField('seller_type',StringType(),nullable=True),
  StructField('transmission',StringType(),nullable=True),
  StructField('owner',StringType(),nullable=True),
  StructField('mileage',DoubleType(),nullable=True),
  StructField('engine',IntegerType(),nullable=True),
  StructField('max_power',FloatType(),nullable=True),
  StructField('seats',IntegerType(),nullable=True),
  StructField('sold',StringType(),nullable=True),
  StructField('Region',StringType(),nullable=True)
  ])
df_Cars = spark.read.option("header",True).schema(Schema).csv('New_cars.csv')

checking for null values

In [28]:
df_unique=df_Cars.select(df_Cars.name.isNull()).show()

+--------------+
|(name IS NULL)|
+--------------+
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
+--------------+
only showing top 20 rows

In [29]:
df_Cars.show()

+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.0|  1248|     74.0|    5|   Y|  East|
|      38|Hyundai Verna VTV...|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|
|      66|Ford Figo 1.2P Ti...|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|   18.1|  1196|     86.8|    5|   Y|  East|
|      68|Volkswagen Ameo 1...|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|
|      69|Honda City i DTEC VX|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.0|  1498|     98.6|    5|   Y|  East|
|      70|Maruti Wagon R AM...|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|   20.5|   998|     67.0|    5|   Y|  East|
|     101|  Maruti Wagon R VXI|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|   21.7|   998|    67.05|    5|   Y|  East|
|     102|Tata Manza Aura (...|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.0|  1248|     90.0|    5|   Y|  East|
|     103|    Maruti Swift VXI|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   21.2|  1197|     81.8|    5|   Y|  East|
|     121|Nissan Terrano XL...|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|   20.4|  1461|     83.8|    5|   Y|  East|
|     130|   Maruti Ertiga VDI|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   20.7|  1248|    88.76|    7|   Y|  East|
|     131|Honda Amaze S i-VTEC|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.0|  1198|     86.7|    5|   Y|  East|
|     145|Toyota Corolla Al...|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|   14.2|  1798|   138.03|    5|   Y|  East|
|     146|Volvo XC40 D4 R-D...|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|
|     150|   BMW 5 Series 523i|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.0|  2497|    150.0|    5|   Y|  East|
|     151|   Hyundai Elantra S|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.0|  1797|    147.5|    5|   Y|  East|
|     154|Volkswagen Vento ...|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   15.0|  1598|    103.6|    5|   Y|  East|
|     168|BMW 5 Series 520d...|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.1|  1995|    190.0|    5|   Y|  East|
|     176|Maruti Wagon R AM...|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|   20.5|   998|     67.0|    5|   Y|  East|
|     178|      Maruti 800 Std|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.0|   796|     37.0|    4|   Y|  East|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+
only showing top 20 rows

In [30]:
df_Cars.count()

7906

In [31]:
df_Cars.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- State or Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: float (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)

# 3 Perform profiling of the data through PySpark and ensure that it is migrated correctly whereever the source is an RDBMS

Filling nan values with zeros

In [32]:
#Filling nan values with zeros
df_Cars.fillna(value=0)

DataFrame[Sales_ID: int, name: string, year: int, selling_price: int, km_driven: int, State or Province: string, City: string, fuel: string, seller_type: string, transmission: string, owner: string, mileage: double, engine: int, max_power: float, seats: int, sold: string, Region: string]

# unique values in different columns

In [33]:
#printing the unique values of all the columns in the dataset
df_Cars.select("name").distinct().collect()

[Row(name='Toyota Etios Liva GD'),
 Row(name='Datsun GO Plus A'),
 Row(name='Mahindra KUV 100 G80 K2'),
 Row(name='Mahindra Bolero 2011-2019 ZLX'),
 Row(name='Tata Indica V2 Turbomax DLS BS IV'),
 Row(name='Datsun GO Anniversary Edition'),
 Row(name='Tata Indica V2 DLE BSIII'),
 Row(name='Hyundai i20 1.4 Asta'),
 Row(name='Mahindra TUV 300 T4'),
 Row(name='Honda City 1.5 S MT'),
 Row(name='Maruti 800 DX BSII'),
 Row(name='Mahindra Bolero SLX 2WD BSIII'),
 Row(name='Maruti Ciaz 1.4 Alpha'),
 Row(name='Maruti Zen Classic'),
 Row(name='Mahindra Xylo D2 BS IV'),
 Row(name='Maruti Swift Lxi BSIII'),
 Row(name='Toyota Innova 2.5 VX (Diesel) 8 Seater BS IV'),
 Row(name='Mahindra Scorpio Intelli Hybrid S10'),
 Row(name='Maruti Zen LXI'),
 Row(name='Maruti Swift Dzire Vdi BSIV'),
 Row(name='Hyundai Verna 1.6 CRDI'),
 Row(name='Honda Brio V MT'),
 Row(name='Maruti Baleno Zeta'),
 Row(name='Hyundai Xcent 1.2 Kappa SX Option'),
 Row(name='Audi Q3 35 TDI Quattro Technology'),
 Row(name='Chevrolet Sail Hatchback Diesel Base'),
 Row(name='MG Hector Smart DCT'),
 Row(name='Mahindra KUV 100 G80 K6 Plus'),
 Row(name='Mahindra Verito Vibe 1.5 dCi D4'),
 Row(name='Maruti Omni E 8 Str STD'),
 Row(name='Ford Figo Aspire 1.5 TDCi Titanium'),
 Row(name='Honda Jazz 1.2 V i VTEC'),
 Row(name='Honda City i DTec VX'),
 Row(name='Honda Jazz V Diesel'),
 Row(name='Maruti Baleno Delta'),
 Row(name='Mahindra Quanto C8'),
 Row(name='Mahindra Thar CRDe'),
 Row(name='Hyundai Santro Era'),
 Row(name='Chevrolet Beat Diesel LT Option'),
 Row(name='Mercedes-Benz New C-Class C 200 AVANTGARDE'),
 Row(name='Maruti Alto 800 CNG LXI Optional'),
 Row(name='Datsun RediGO A'),
 Row(name='Maruti Vitara Brezza ZDi Plus Dual Tone'),
 Row(name='Hyundai i10 Magna 1.1L'),
 Row(name='Hyundai Grand i10 1.2 Kappa Sportz Dual Tone'),
 Row(name='Chevrolet Tavera B3 LT L1 10 Seats BSIII'),
 Row(name='Mahindra XUV500 AT W8 FWD'),
 Row(name='Toyota Etios 1.5 V'),
 Row(name='Mercedes-Benz GLA Class 200 CDI SPORT'),
 Row(name='Maruti Swift ZXI 2018'),
 Row(name='Ford Figo 1.5D Ambiente MT'),
 Row(name='Volkswagen Polo 2015-2019 1.2 MPI Highline Plus'),
 Row(name='BMW 3 Series GT Luxury Line'),
 Row(name='Mahindra Scorpio Getaway'),
 Row(name='Mahindra Scorpio VLS AT 2.2 mHAWK'),
 Row(name='Toyota Platinum Etios 1.4 GXD'),
 Row(name='Mercedes-Benz GLA Class 200'),
 Row(name='Mahindra XUV500 W5 BSIV'),
 Row(name='Mahindra Scorpio S5 BSIV'),
 Row(name='Maruti Swift VDi BSIII W/ ABS'),
 Row(name='Honda Jazz 1.2 SV i VTEC'),
 Row(name='Maruti A-Star Lxi'),
 Row(name='Mahindra Scorpio S4 7 Seater'),
 Row(name='Honda BR-V i-VTEC E MT'),
 Row(name='Honda City i VTEC V'),
 Row(name='Ford EcoSport 1.5 Diesel Titanium BSIV'),
 Row(name='Honda City i-VTEC CVT ZX'),
 Row(name='Hyundai Grand i10 Asta'),
 Row(name='Hyundai i10 Magna 1.2 iTech SE'),
 Row(name='Tata Venture LX 7 Str'),
 Row(name='Maruti Swift Dzire LDI Optional'),
 Row(name='Hyundai Grand i10 Magna AT'),
 Row(name='Audi A6 2.0 TDI Premium Plus'),
 Row(name='Hyundai Accent GLX'),
 Row(name='Renault Triber RXZ'),
 Row(name='Hyundai Accent VIVA CRDi'),
 Row(name='Honda Civic 1.8 V MT Inspire'),
 Row(name='Honda Amaze VX Petrol BSIV'),
 Row(name='Hyundai Elantra SX AT'),
 Row(name='Volkswagen Polo 1.2 MPI Highline'),
 Row(name='Renault Lodgy 85PS Std'),
 Row(name='Tata Indica Vista Aqua TDI BSIII'),
 Row(name='Skoda Fabia 1.2L Diesel Ambiente'),
 Row(name='Maruti Ertiga VXI Petrol'),
 Row(name='Toyota Corolla Altis Diesel D4DG'),
 Row(name='Maruti SX4 Vxi BSIV'),
 Row(name='Maruti Ciaz ZXi Plus'),
 Row(name='Tata Zest Quadrajet 1.3 75PS XE'),
 Row(name='Datsun GO Plus T BSIV'),
 Row(name='Maruti Swift DDiS LDI'),
 Row(name='Tata Hexa XM'),
 Row(name='BMW 3 Series 320d Luxury Plus'),
 Row(name='Honda Amaze EX i-Vtech'),
 Row(name='Honda Amaze S Option i-DTEC'),
 Row(name='Mahindra Xylo E4 BS III'),
 Row(name='Tata Nexon 1.5 Revotorq XZA Plus'),
 Row(name='Renault Duster 85PS Diesel RxE'),
 Row(name='Volkswagen Vento 1.5 TDI Comfortline'),
 Row(name='Maruti 800 AC BSIII'),
 Row(name='Hyundai Elantra SX'),
 Row(name='Maruti SX4 ZDI Leather'),
 Row(name='Honda City i VTEC CVT VX'),
 Row(name='Ford EcoSport 1.5 Diesel Trend BSIV'),
 Row(name='Maruti SX4 S Cross 2015-2017 DDiS 200 Alpha'),
 Row(name='Maruti Ciaz Delta BSIV'),
 Row(name='Hyundai Xcent 1.2 VTVT S'),
 Row(name='Chevrolet Enjoy 1.3 TCDi LS 8'),
 Row(name='Hyundai Verna Transform VGT CRDi'),
 Row(name='Mercedes-Benz E-Class Exclusive E 200 BSIV'),
 Row(name='Volkswagen Vento Petrol Highline AT'),
 Row(name='Datsun GO Plus D1'),
 Row(name='Skoda Octavia Rider 1.9 AT TDI'),
 Row(name='Toyota Innova Crysta 2.8 GX AT BSIV'),
 Row(name='Mahindra Scorpio 1.99 S4'),
 Row(name='Toyota Innova Crysta 2.4 GX MT BSIV'),
 Row(name='Tata Indica Vista Aqua 1.4 TDI'),
 Row(name='Hyundai Santa Fe 2WD AT'),
 Row(name='Ford Fiesta 1.6 Duratec EXI'),
 Row(name='Tata Indigo CS eVX'),
 Row(name='Chevrolet Enjoy Petrol LS 7 Seater'),
 Row(name='Maruti 800 Std'),
 Row(name='Tata New Safari DICOR 2.2 EX 4x2'),
 Row(name='Ford Figo Aspire 1.5 TDCi Trend'),
 Row(name='Maruti Omni 8 Seater BSIV'),
 Row(name='Maruti Alto 800 LX'),
 Row(name='Volkswagen Passat Highline DSG S (Spl. Edition)'),
 Row(name='Skoda Superb LK 1.8 TSI AT'),
 Row(name='Tata Aria Pride'),
 Row(name='Toyota Qualis FS B3'),
 Row(name='Renault KWID AMT RXL'),
 Row(name='Hyundai Xcent 1.2 Kappa SX'),
 Row(name='Tata Indigo CS LX DiCOR'),
 Row(name='Maruti Zen Estilo 1.1 LXI BSIII'),
 Row(name='Tata Tiago 2019-2020 XZ Plus Dual Tone'),
 Row(name='Hyundai i20 Asta'),
 Row(name='Maruti Baleno Zeta 1.2'),
 Row(name='Honda Mobilio S i DTEC'),
 Row(name='Maruti Swift Dzire Zdi BSIV'),
 Row(name='Kia Seltos HTE D'),
 Row(name='Skoda Rapid Ultima 1.6 TDI Elegance'),
 Row(name='BMW 3 Series 320d'),
 Row(name='Toyota Innova 2.5 EV Diesel PS 7 Seater BSIII'),
 Row(name='Isuzu MU 7 AT Premium'),
 Row(name='Honda City 1.5 V MT Sunroof'),
 Row(name='Maruti Eeco CNG 5 Seater AC BSIV'),
 Row(name='Volkswagen Vento Diesel Comfortline'),
 Row(name='Maruti Alto LXi BSIII'),
 Row(name='Volkswagen Polo Diesel Highline 1.2L'),
 Row(name='Honda Civic 1.8 V AT'),
 Row(name='Hyundai Venue SX Plus Turbo DCT BSIV'),
 Row(name='Hyundai i20 Active 1.2 SX'),
 Row(name='Jaguar XF 3.0 Litre S Premium Luxury'),
 Row(name='Tata New Safari Dicor VX 4X2'),
 Row(name='Ford EcoSport 1.5 Diesel Trend Plus BSIV'),
 Row(name='Maruti Swift Dzire AMT ZDI Plus'),
 Row(name='BMW 5 Series 523i'),
 Row(name='Volvo V40 D3 R-Design'),
 Row(name='Hyundai Xcent 1.2 VTVT SX'),
 Row(name='Honda WR-V i-VTEC VX'),
 Row(name='Maruti 800 Std BSIII'),
 Row(name='Maruti Ertiga ZDI Plus'),
 Row(name='Mercedes-Benz GLA Class 200 CDI'),
 Row(name='Ford EcoSport 1.5 Petrol Ambiente BSIV'),
 Row(name='Hyundai Grand i10 AT Sportz'),
 Row(name='Ford Ecosport 1.0 Ecoboost Titanium Optional'),
 Row(name='Tata Harrier XZ Plus'),
 Row(name='Tata Sumo GX 7 Str BSII'),
 Row(name='Renault Duster 85PS Diesel RxE Adventure'),
 Row(name='Tata Nexon 1.2 Revotron XZ Plus Dual Tone'),
 Row(name='Hyundai i10 Asta Sunroof AT'),
 Row(name='Toyota Innova Crysta 2.8 GX AT 8S BSIV'),
 Row(name='Chevrolet Enjoy 1.3 TCDi LTZ 7'),
 Row(name='Ford Ecosport 1.5 Diesel Trend'),
 Row(name='Mahindra Logan Diesel 1.5 DLE'),
 Row(name='Hyundai i20 Asta 1.4 CRDi (Diesel)'),
 Row(name='Tata Nexon 1.2 Revotron XM'),
 Row(name='Tata Indigo Grand Dicor'),
 Row(name='Mahindra TUV 300 T6 Plus AMT'),
 Row(name='Honda Jazz 1.2 V AT i VTEC'),
 Row(name='Tata Indigo VS'),
 Row(name='Maruti 800 AC'),
 Row(name='Hyundai Elite i20 Petrol CVT Magna Executive'),
 Row(name='Mitsubishi Lancer 2.0 L Diesel LX'),
 Row(name='Maruti Eeco CNG HTR 5-STR'),
 Row(name='Hyundai Elite i20 Sportz Plus Dual Tone BSIV'),
 Row(name='Tata Zest Quadrajet 1.3 Anniversary Edition'),
 Row(name='Maruti 800 EX BSII'),
 Row(name='Skoda Octavia Ambition 2.0 TDI MT'),
 Row(name='Hyundai i20 Magna 1.4 CRDi'),
 Row(name='Audi A3 35 TDI Premium Plus'),
 Row(name='Mahindra Quanto C4'),
 Row(name='Mahindra Bolero 2011-2019 SLE BSIII'),
 Row(name='Tata Indigo eCS LS TDI BSIII'),
 Row(name='Toyota Etios Liva G'),
 Row(name='Force Gurkha Hard Top BS3 4WD'),
 Row(name='Ambassador Grand 2000 DSZ PW CL'),
 Row(name='Maruti SX4 Green Vxi (CNG)'),
 Row(name='Nissan Terrano XL 110 PS'),
 Row(name='Tata Nano Twist XT'),
 Row(name='Mitsubishi Lancer 2.0 LXd'),
 Row(name='Maruti Alto Std'),
 Row(name='Skoda Rapid 1.5 TDI AT Style Plus'),
 Row(name='Audi Q7 3.0 TDI Quattro'),
 Row(name='Volkswagen Polo Select 1.5 TDI Highline'),
 Row(name='Maruti Wagon R LXI DUO BSIII'),
 Row(name='Toyota Innova 2.5 V Diesel 7-seater'),
 Row(name='Maruti Alto 800 CNG LXI'),
 Row(name='Renault Duster 85PS Diesel RxL Optional with Nav'),
 Row(name='Chevrolet Tavera Neo LS B3 - 7(C) seats BSIII'),
 Row(name='Chevrolet Tavera Neo 3 LT 9 Seats BSIV'),
 Row(name='Tata Sumo Gold CX BSIII'),
 Row(name='Renault Lodgy World Edition 110PS'),
 Row(name='Honda Civic ZX'),
 Row(name='Mahindra Ssangyong Rexton RX5'),
 Row(name='Skoda Rapid 1.6 MPI Ambition Plus'),
 Row(name='Renault Duster 110PS Diesel RxZ Plus'),
 Row(name='Volkswagen Ameo 1.2 MPI Highline Plus 16'),
 Row(name='Ford Fiesta 1.6 ZXi ABS'),
 Row(name='Renault Duster RXL AWD'),
 Row(name='Skoda Rapid 1.6 MPI Ambition BSIV'),
 Row(name='Toyota Glanza G Smart Hybrid'),
 Row(name='Ford Figo Diesel Celebration Edition'),
 Row(name='Mahindra Scorpio VLX 2WD BSIV'),
 Row(name='Maruti Ertiga SHVS ZDI Plus'),
 Row(name='Maruti Baleno Alpha 1.2'),
 Row(name='Tata New Safari DICOR 2.2 GX 4x2'),
 Row(name='Ford Figo Titanium Diesel'),
 Row(name='Honda Accord 2.4 MT'),
 Row(name='Mahindra XUV500 AT W10 AWD'),
 Row(name='Datsun GO A Option Petrol'),
 Row(name='Tata Bolt Revotron XE'),
 Row(name='Datsun GO T Petrol'),
 Row(name='Chevrolet Cruze LTZ'),
 Row(name='Volkswagen Polo 1.5 TDI Comfortline'),
 Row(name='Hyundai Verna 1.4 CRDi'),
 Row(name='Ford Fiesta 1.4 Duratorq EXI'),
 Row(name='Hyundai Verna SX CRDi AT'),
 Row(name='Ford Figo Petrol ZXI'),
 Row(name='Hyundai Accent GLS 1.6'),
 Row(name='Maruti Wagon R VXI AMT Opt 1.2'),
 Row(name='Skoda Rapid 1.6 MPI AT Elegance'),
 Row(name='Jeep Compass 1.4 Limited Plus BSIV'),
 Row(name='Volkswagen Vento IPL II Diesel Trendline'),
 Row(name='Renault Duster 110PS Diesel RxZ'),
 Row(name='Hyundai i20 Active SX Petrol'),
 Row(name='Audi A6 2.0 TDI Technology'),
 Row(name='Ford Freestyle Trend Diesel BSIV'),
 Row(name='Ford Figo 1.5D Titanium Opt MT'),
 Row(name='Datsun GO Plus A Option Petrol'),
 Row(name='Ford Ikon 1.3 Flair'),
 Row(name='Datsun RediGO T Option'),
 Row(name='Hyundai i20 1.2 Spotz'),
 Row(name='Tata Safari DICOR 2.2 LX 4x2'),
 Row(name='Maruti Wagon R VXI Minor'),
 Row(name='Maruti Ertiga 1.5 ZDI'),
 Row(name='Volvo XC60 Inscription D5 BSIV'),
 Row(name='Tata Sumo Gold GX BSIII'),
 Row(name='Renault Duster 85PS Diesel STD'),
 Row(name='Tata New Safari Dicor GX 4X2 BS IV'),
 Row(name='Renault Duster 110PS Diesel RxL'),
 Row(name='Mahindra Xylo D4 BSIII'),
 Row(name='Hyundai Xcent 1.1 CRDi S Option'),
 Row(name='Hyundai Grand i10 1.2 Kappa Magna AT'),
 Row(name='Tata Indigo eCS VX BSIV'),
 Row(name='Maruti Baleno Delta Automatic'),
 Row(name='Maruti Ciaz VDi Plus'),
 Row(name='Maruti Baleno Alpha'),
 Row(name='Maruti Wagon R VXI Opt 1.2'),
 Row(name='Hyundai Elite i20 Petrol Magna Exective'),
 Row(name='Toyota Innova 2.5 Z Diesel 7 Seater'),
 Row(name='Maruti Ritz LXI'),
 Row(name='Skoda Fabia 1.4 TDI Ambiente'),
 Row(name='Maruti Swift VXI'),
 Row(name='Maruti Zen Estilo LXI BS IV'),
 Row(name='Hyundai Getz GLX'),
 Row(name='Toyota Innova 2.5 G (Diesel) 8 Seater'),
 Row(name='Mahindra XUV500 W8 2WD'),
 Row(name='Tata Indigo CR4'),
 Row(name='Honda Civic 1.8 (E) MT'),
 Row(name='Hyundai Santro Xing GL Plus'),
 Row(name='Hyundai Santro Magna'),
 Row(name='Hyundai Creta 1.6 SX Option Executive'),
 Row(name='Skoda Fabia Scout 1.2 TDI'),
 Row(name='Hyundai Getz 1.1 GLE'),
 Row(name='Mahindra Bolero SLX 4WD BSIII'),
 Row(name='Maruti Gypsy King Soft Top'),
 Row(name='Hyundai Verna VTVT 1.6 SX Option'),
 Row(name='Hyundai EON Sportz'),
 Row(name='Hyundai i10 Era'),
 Row(name='Mahindra Scorpio 1.99 S10'),
 Row(name='Hyundai Elantra CRDi SX'),
 Row(name='Hyundai Verna 1.6 SX VTVT (O)'),
 Row(name='Mahindra Scorpio 2.6 DX'),
 Row(name='Audi A4 35 TDI Premium Plus'),
 Row(name='Mahindra Bolero 2011-2019 Plus Non AC BSIV PS'),
 Row(name='Tata Venture EX 7 Str Captain Seats'),
 Row(name='Maruti Ciaz VXi Plus'),
 Row(name='Volkswagen Vento Petrol Highline'),
 Row(name='Honda Jazz VX'),
 Row(name='Tata Tiago 1.05 Revotorq XZ'),
 Row(name='Mahindra Scorpio 2009-2014 EX 9S BSIII'),
 Row(name='Volkswagen Passat 2.0 TDI AT Highline'),
 Row(name='Mahindra Scorpio 2009-2014 SLE 7S BSIV'),
 Row(name='Hyundai Verna XXi ABS (Petrol)'),
 Row(name='Honda City i DTec S'),
 Row(name='Hyundai Accent GLS 1.6 ABS'),
 Row(name='Mahindra Bolero Power Plus SLX'),
 Row(name='Honda BRV i-VTEC V CVT'),
 Row(name='Volkswagen Jetta 2.0L TDI Comfortline'),
 Row(name='Datsun RediGO S'),
 Row(name='Chevrolet Spark 1.0 LT'),
 Row(name='Hyundai Elite i20 Asta Option Diesel'),
 Row(name='Maruti S-Cross 2017-2020 Zeta DDiS 200 SH'),
 Row(name='Tata Tigor 1.2 Revotron XE'),
 Row(name='Honda BRV i-VTEC V MT'),
 Row(name='Skoda Rapid 1.5 TDI Elegance'),
 Row(name='Maruti Swift Dzire Ldi BSIV'),
 Row(name='Maruti Swift VXi BSIV'),
 Row(name='Mercedes-Benz New C-Class C 220 CDI Elegance AT'),
 Row(name='Jeep Compass 1.4 Sport'),
 Row(name='Tata Indica V2 DL'),
 Row(name='Toyota Innova 2.5 G4 Diesel 7-seater'),
 Row(name='Tata Tiago 1.2 Revotron XM'),
 Row(name='Tata Indica V2 DLE BSII'),
 Row(name='Hyundai Verna 1.6 CRDi SX'),
 Row(name='Maruti Eeco Smiles 7 Seater Standard'),
 Row(name='Mahindra Bolero 2011-2019 DI - AC BS III'),
 Row(name='Maruti Wagon R LXI'),
 Row(name='Hyundai Grand i10 1.2 Kappa Sportz AT'),
 Row(name='Honda Jazz 1.5 S i DTEC'),
 Row(name='Hyundai i20 1.2 Magna'),
 Row(name='Toyota Innova 2.5 GX 7 STR'),
 Row(name='Toyota Innova 2.5 VX 8 STR'),
 Row(name='Toyota Camry V4 (MT)'),
 Row(name='Land Rover Freelander 2 TD4 HSE'),
 Row(name='Volkswagen Ameo 1.2 MPI Comfortline Plus'),
 Row(name='Toyota Innova 2.5 VX 8 STR BSIV'),
 Row(name='Maruti Swift AMT ZDI'),
 Row(name='Honda City 1.5 S Inspire'),
 Row(name='Toyota Innova 2.5 E Diesel PS 7-Seater'),
 Row(name='Mahindra Thar 4X4'),
 Row(name='Hyundai Xcent 1.2 VTVT E'),
 Row(name='Mahindra KUV 100 D75 K8'),
 Row(name='Maruti Celerio ZXI AT'),
 Row(name='Tata Manza Club Class Quadrajet90 EX'),
 Row(name='Hyundai Santro Sportz AMT BSIV'),
 Row(name='Maruti Swift Ldi BSIII'),
 Row(name='Ford Figo 1.5P Titanium AT'),
 Row(name='Mahindra Xylo D4 BSIV'),
 Row(name='Skoda Fabia 1.2 TDI Active Plus'),
 Row(name='Hyundai Getz 1.1 GVS'),
 Row(name='Maruti Baleno Delta Diesel'),
 Row(name='Skoda Yeti Ambition 4WD'),
 Row(name='Tata Tiago 1.05 Revotorq XE'),
 Row(name='Nissan Terrano XL D Option'),
 Row(name='Hyundai EON 1.0 Kappa Magna Plus'),
 Row(name='Mahindra TUV 300 mHAWK100 T8'),
 Row(name='Volkswagen Passat 1.8 TSI MT'),
 Row(name='Maruti Ciaz ZDi'),
 Row(name='Chevrolet Tavera B1-10 seats BSII'),
 Row(name='Maruti Ciaz 1.3 Sigma'),
 Row(name='Ford EcoSport 1.5 TDCi Signature BSIV'),
 Row(name='Toyota Innova Crysta 2.7 ZX AT BSIV'),
 Row(name='Volkswagen Vento 1.6 Highline'),
 Row(name='BMW 5 Series 520d Luxury Line'),
 Row(name='Datsun GO Plus Anniversary Edition'),
 Row(name='Maruti Wagon R LXI BSIII'),
 Row(name='Skoda Rapid 1.6 TDI Elegance'),
 Row(name='Tata Hexa XE'),
 Row(name='Datsun GO Plus D'),
 Row(name='Hyundai Verna CRDi 1.6 AT SX Plus'),
 Row(name='Volkswagen CrossPolo 1.5 TDI'),
 Row(name='Chevrolet Spark 1.0 PS LPG'),
 Row(name='Mitsubishi Pajero Sport Anniversary Edition'),
 Row(name='Mahindra XUV500 W11 BSIV'),
 Row(name='Hyundai i20 Active S Petrol'),
 Row(name='Chevrolet Captiva 2.2 LT'),
 Row(name='Tata Manza Aura (ABS) Quadrajet'),
 Row(name='Ford Figo Diesel EXI'),
 Row(name='Tata Tigor 1.2 Revotron XT'),
 Row(name='Hyundai Xcent 1.2 Kappa AT SX Option'),
 Row(name='Maruti Ertiga LDI'),
 Row(name='Maruti Zen Estilo 1.1 VXI BSIII'),
 Row(name='Mahindra Renault Logan 1.5 DLX Diesel'),
 Row(name='BMW X4 M Sport X xDrive20d'),
 Row(name='Maruti Swift LXI Optional-O'),
 Row(name='Hyundai i20 Asta Option 1.2'),
 Row(name='Honda Civic 1.8 S AT'),
 Row(name='Skoda Rapid 1.5 TDI Style Plus Black Package'),
 Row(name='Tata Indica V2 DLX BSII'),
 Row(name='Ford EcoSport 1.5 Petrol Trend BSIV'),
 Row(name='Honda Jazz VX Diesel'),
 Row(name='Honda Amaze S Diesel BSIV'),
 Row(name='Honda Amaze VX O iDTEC'),
 Row(name='Maruti Ciaz AT ZXi'),
 Row(name='BMW 5 Series 520d'),
 Row(name='Hyundai Verna CRDi SX ABS'),
 Row(name='Volvo XC40 D4 Inscription BSIV'),
 Row(name='Maruti Zen D'),
 Row(name='Chevrolet Optra Magnum 2.0 LS'),
 Row(name='Datsun RediGO 1.0 S'),
 Row(name='Jeep Compass 2.0 Limited Option 4X4'),
 Row(name='Ford Fiesta Classic 1.6 SXI Duratec'),
 Row(name='Mercedes-Benz New C-Class C 200 Kompressor Elegance AT'),
 Row(name='Ford EcoSport 1.5 TDCi Ambiente BSIV'),
 Row(name='Toyota Innova Crysta 2.4 VX MT'),
 Row(name='Maruti Eeco 5 STR With AC Plus HTR CNG'),
 Row(name='Honda Brio 1.2 VX MT'),
 Row(name='Mahindra Bolero 2011-2019 EX NON AC'),
 Row(name='Maruti Baleno Delta 1.3'),
 Row(name='Toyota Corolla AE'),
 Row(name='Chevrolet Spark 1.0 PS'),
 Row(name='Maruti Swift VXI with ABS'),
 Row(name='Mahindra Scorpio LX 2.6 Turbo'),
 Row(name='Tata Nexon 1.5 Revotorq XZ Plus'),
 Row(name='Honda Jazz 1.2 VX i VTEC'),
 Row(name='Maruti SX4 Zxi BSIII'),
 Row(name='Volvo S60 D4 SUMMUM'),
 Row(name='Hyundai Sonata CRDi M/T'),
 Row(name='Tata Winger Deluxe - Flat Roof (Non-AC)'),
 Row(name='Toyota Innova Crysta 2.4 ZX MT'),
 Row(name='Renault Duster 85PS Diesel RxL'),
 Row(name='Honda Brio 1.2 S MT'),
 Row(name='Maruti Ciaz Zeta'),
 Row(name='Toyota Fortuner 4x4 AT'),
 Row(name='Tata Safari Storme VX'),
 Row(name='Volkswagen Polo 1.0 MPI Trendline BSIV'),
 Row(name='Tata Xenon XT EX 4X4'),
 Row(name='Volkswagen Vento Diesel Breeze'),
 Row(name='Fiat Grande Punto EVO 1.3 Active'),
 Row(name='Maruti Ciaz ZDi Plus'),
 Row(name='Skoda Laura Ambiente 1.9 PD'),
 Row(name='Tata Zest Quadrajet 1.3 75PS XMS'),
 Row(name='Tata Indigo CS LX (TDI) BS III'),
 Row(name='Mahindra Scorpio SLE BSIII'),
 Row(name='Hyundai Accent GLE CNG'),
 Row(name='Maruti Celerio LXI'),
 Row(name='Tata New Safari DICOR 2.2 LX 4x2'),
 Row(name='Renault Pulse RxL'),
 Row(name='Mahindra Scorpio 2.6 Turbo 7 Str'),
 Row(name='Tata Indica V2 DLS'),
 Row(name='Audi Q5 45 TDI quattro Technology'),
 Row(name='Maruti Alto 800 LX Optional'),
 Row(name='Ford Fiesta Classic 1.6 Duratec CLXI'),
 Row(name='Hyundai Grand i10 Nios AMT Sportz'),
 Row(name='Mahindra TUV 300 T8'),
 Row(name='Mercedes-Benz CLA 200 CGI Sport'),
 Row(name='Hyundai i20 2015-2017 Sportz 1.2'),
 Row(name='Hyundai Xcent 1.2 Kappa S'),
 Row(name='Tata Indica Vista Terra Quadrajet 1.3L'),
 Row(name='Fiat Grande Punto EVO 1.3 Dynamic'),
 Row(name='Maruti Ciaz VDI SHVS'),
 Row(name='Maruti S-Cross 2017-2020 Alpha DDiS 200 SH'),
 Row(name='Maruti Ertiga 1.5 VDI'),
 Row(name='Chevrolet Tavera Neo 3 LT 9 Seats BSIII'),
 Row(name='Mahindra Scorpio S4 Plus 4WD'),
 Row(name='Maruti Wagon R Duo Lxi'),
 Row(name='Skoda Fabia 1.2 MPI Ambition Plus'),
 Row(name='Renault Duster 110PS Diesel RXZ Optional with Nav'),
 Row(name='Hyundai Verna 1.6 CRDi EX AT'),
 Row(name='Hyundai Elantra GT'),
 Row(name='Mahindra KUV 100 mFALCON G80 K4'),
 Row(name='Tata Indica V2 1.2 GLE BSIII'),
 Row(name='Ford Fiesta 1.4 Durasport EXI'),
 Row(name='Honda City 2017-2020 EXi'),
 Row(name='Toyota Etios VXD'),
 Row(name='Nissan Sunny XV Special Edition'),
 Row(name='Tata Indica Vista Aura 1.3 Quadrajet (ABS) BS IV'),
 Row(name='Maruti Swift VDI Windsong Limited edition'),
 Row(name='BMW X7 xDrive 30d DPE'),
 Row(name='Maruti Swift Glam'),
 Row(name='Renault Duster 85PS Diesel RxL Option'),
 Row(name='Ford Fusion Plus 1.4 TDCi Diesel'),
 Row(name='Renault Duster 85PS Diesel RxL Explore'),

In [34]:
df_Cars.select("Region").distinct().collect()

[Row(Region='South'),
 Row(Region='Central'),
 Row(Region='East'),
 Row(Region='West')]

In [35]:
df_Cars.select("city").distinct().collect()

[Row(city='Tyler'),
 Row(city='Hanover'),
 Row(city='Worcester'),
 Row(city='Agawam'),
 Row(city='Prattville'),
 Row(city='Springfield'),
 Row(city='Edmonds'),
 Row(city='Harrisburg'),
 Row(city='Tempe'),
 Row(city='Charleston'),
 Row(city='Bowling Green'),
 Row(city='Auburn'),
 Row(city='Harrison'),
 Row(city='Batavia'),
 Row(city='Wilkinsburg'),
 Row(city='Thornton'),
 Row(city='North Las Vegas'),
 Row(city='Plainfield'),
 Row(city='Lake Elsinore'),
 Row(city='Georgetown'),
 Row(city='Wilson'),
 Row(city='West Mifflin'),
 Row(city='Bethlehem'),
 Row(city='Camp Springs'),
 Row(city='Randallstown'),
 Row(city='Phoenix'),
 Row(city='Cranford'),
 Row(city='Cherry Hill'),
 Row(city='Merrimack'),
 Row(city='Levittown'),
 Row(city='Waukegan'),
 Row(city='Hollywood'),
 Row(city='Baldwin'),
 Row(city='Council Bluffs'),
 Row(city='Brunswick'),
 Row(city='Pleasantville'),
 Row(city='Pittsburg'),
 Row(city='Mount Prospect'),
 Row(city='Woodland'),
 Row(city='Menlo Park'),
 Row(city='Belchertown'),
 Row(city='Fitchburg'),
 Row(city='Waltham'),
 Row(city='Monroe'),
 Row(city='Fairmont'),
 Row(city='Oak Park'),
 Row(city='Sandy Springs'),
 Row(city='Savannah'),
 Row(city='Pembroke Pines'),
 Row(city='Toms River'),
 Row(city='Brookfield'),
 Row(city='Lindenhurst'),
 Row(city='Carbondale'),
 Row(city='Palo Alto'),
 Row(city='Coral Springs'),
 Row(city='Westland'),
 Row(city='Conway'),
 Row(city='Sierra Vista'),
 Row(city='Rexburg'),
 Row(city='Lima'),
 Row(city='Brooklyn Park'),
 Row(city='Omaha'),
 Row(city='Marion'),
 Row(city='Munster'),
 Row(city='Paradise'),
 Row(city='Bothell'),
 Row(city='Hinesville'),
 Row(city='Fair Lawn'),
 Row(city='Killingly Center'),
 Row(city='East Chicago'),
 Row(city='Central Islip'),
 Row(city='Kenmore'),
 Row(city='Texarkana'),
 Row(city='Walpole'),
 Row(city='Fort Pierce'),
 Row(city='Allentown'),
 Row(city='Woodbridge'),
 Row(city='Fort Collins'),
 Row(city='Saint Charles'),
 Row(city='Anaheim'),
 Row(city='Richland'),
 Row(city='Royal Palm Beach'),
 Row(city='Gallatin'),
 Row(city='Taunton'),
 Row(city='Everett'),
 Row(city='McKeesport'),
 Row(city='Stevens Point'),
 Row(city='Temecula'),
 Row(city='Napa'),
 Row(city='Weslaco'),
 Row(city='Greensboro'),
 Row(city='Davie'),
 Row(city='Maple Shade'),
 Row(city='Glassboro'),
 Row(city='Morgantown'),
 Row(city='Kokomo'),
 Row(city='Olive Branch'),
 Row(city='White Plains'),
 Row(city='Commack'),
 Row(city='Yuba City'),
 Row(city='Franklin'),
 Row(city='Longmeadow'),
 Row(city='Lincoln Park'),
 Row(city='Grants Pass'),
 Row(city='Lewiston'),
 Row(city='Chattanooga'),
 Row(city='Greeneville'),
 Row(city='West Valley City'),
 Row(city='Dallas'),
 Row(city='North Pembroke'),
 Row(city='Beverly'),
 Row(city='Springdale'),
 Row(city='New Milford'),
 Row(city='Rye'),
 Row(city='Encinitas'),
 Row(city='Thomasville'),
 Row(city='Kentwood'),
 Row(city='Great Falls'),
 Row(city='Owatonna'),
 Row(city='Mechanicsville'),
 Row(city='Oceanside'),
 Row(city='New City'),
 Row(city='Romeoville'),
 Row(city='Lemon Grove'),
 Row(city='Oakland'),
 Row(city='Laredo'),
 Row(city='Farmers Branch'),
 Row(city='Wenatchee'),
 Row(city='Manchester'),
 Row(city='Webster Groves'),
 Row(city='Holbrook'),
 Row(city='Naperville'),
 Row(city='Davis'),
 Row(city='Spring Hill'),
 Row(city='Trenton'),
 Row(city='Scottsdale'),
 Row(city='Jefferson City'),
 Row(city='Dracut'),
 Row(city='Southgate'),
 Row(city='Middle River'),
 Row(city='Leavenworth'),
 Row(city='Petersburg'),
 Row(city='Smithtown'),
 Row(city='Rutland'),
 Row(city='Edison'),
 Row(city='Stratford'),
 Row(city='Moorhead'),
 Row(city='Pleasure Ridge Park'),
 Row(city='North Babylon'),
 Row(city='Lowell'),
 Row(city='Abington'),
 Row(city='Dedham'),
 Row(city='Winter Garden'),
 Row(city='North Ridgeville'),
 Row(city='La Vista'),
 Row(city='Chico'),
 Row(city='Bakersfield'),
 Row(city='San Antonio'),
 Row(city='Westborough'),
 Row(city='Bend'),
 Row(city='Roy'),
 Row(city='Chula Vista'),
 Row(city='Lynnwood'),
 Row(city='New Bern'),
 Row(city='Raleigh'),
 Row(city='Blaine'),
 Row(city='Midvale'),
 Row(city='Alexandria'),
 Row(city='Coventry'),
 Row(city='Philadelphia'),
 Row(city='Parkville'),
 Row(city='Sherwood'),
 Row(city='Essex Junction'),
 Row(city='Oxford'),
 Row(city='Louisville'),
 Row(city='Poinciana'),
 Row(city='Dearborn'),
 Row(city='Cabot'),
 Row(city='Orange'),
 Row(city='Newington'),
 Row(city='Dayton'),
 Row(city='Durango'),
 Row(city='Wheat Ridge'),
 Row(city='Fayetteville'),
 Row(city='Sandusky'),
 Row(city='Springville'),
 Row(city='Hopkinsville'),
 Row(city='Jamestown'),
 Row(city='Searcy'),
 Row(city='Hampton'),
 Row(city='Willoughby'),
 Row(city='Calumet City'),
 Row(city='Los Angeles'),
 Row(city='Issaquah'),
 Row(city='Covington'),
 Row(city='Escondido'),
 Row(city='Cambridge'),
 Row(city='Hopkinton'),
 Row(city='Woodburn'),
 Row(city='Flagstaff'),
 Row(city='Rutherford'),
 Row(city='Prairie Village'),
 Row(city='Schaumburg'),
 Row(city='Fairfield'),
 Row(city='Tracy'),
 Row(city='Norton'),
 Row(city='Aspen Hill'),
 Row(city='Utica'),
 Row(city='Biddeford'),
 Row(city='Sayreville'),
 Row(city='Elyria'),
 Row(city='Hoffman Estates'),
 Row(city='Melrose Park'),
 Row(city='Hesperia'),
 Row(city='Bellingham'),
 Row(city='Wakefield'),
 Row(city='Grand Rapids'),
 Row(city='Moscow'),
 Row(city='Magna'),
 Row(city='Mcminnville'),
 Row(city='Chandler'),
 Row(city='Florissant'),
 Row(city='Franklin Park'),
 Row(city='Sacramento'),
 Row(city='Visalia'),
 Row(city='Oakland Park'),
 Row(city='Westbrook'),
 Row(city='Allen'),
 Row(city='Burien'),
 Row(city='Crofton'),
 Row(city='Bethpage'),
 Row(city='Brentwood'),
 Row(city='Pico Rivera'),
 Row(city='Palisades Park'),
 Row(city='Atlantic City'),
 Row(city='Camden'),
 Row(city='Park Ridge'),
 Row(city='Burleson'),
 Row(city='Easthampton'),
 Row(city='Clarksville'),
 Row(city='Eau Claire'),
 Row(city='Indianapolis'),
 Row(city='Mineral Wells'),
 Row(city='Bridgewater'),
 Row(city='Surprise'),
 Row(city='Greenwich'),
 Row(city='Strongsville'),
 Row(city='Roosevelt'),
 Row(city='Pomona'),
 Row(city='Dublin'),
 Row(city='Webster'),
 Row(city='Plum'),
 Row(city='Pendleton'),
 Row(city='Farmington'),
 Row(city='Bayonne'),
 Row(city='South Orange'),
 Row(city='Maplewood'),
 Row(city='Mehlville'),
 Row(city='Victoria'),
 Row(city='Cleveland'),
 Row(city='Topeka'),
 Row(city='Rockford'),
 Row(city='San Diego'),
 Row(city='San Francisco'),
 Row(city='Rancho Cucamonga'),
 Row(city='Lake Forest'),
 Row(city='Flint'),
 Row(city='Hobbs'),
 Row(city='Oklahoma City'),
 Row(city='Nashville'),
 Row(city='Whittier'),
 Row(city='Norristown'),
 Row(city='Montgomery'),
 Row(city='Shoreview'),
 Row(city='Savage'),
 Row(city='Maryland Heights'),
 Row(city='Union'),
 Row(city='Norwich'),
 Row(city='Edina'),
 Row(city='Chesapeake'),
 Row(city='Pharr'),
 Row(city='Southfield'),
 Row(city='Medford'),
 Row(city='East Brunswick'),
 Row(city='Darien'),
 Row(city='Selma'),
 Row(city='Laconia'),
 Row(city='Findlay'),
 Row(city='Santa Cruz'),
 Row(city='Santa Rosa'),
 Row(city='Pottstown'),
 Row(city='Detroit'),
 Row(city='Johnson City'),
 Row(city='Mankato'),
 Row(city='Albany'),
 Row(city='Euless'),
 Row(city='Greensburg'),
 Row(city='Eastpointe'),
 Row(city='Walker'),
 Row(city='Ames'),
 Row(city='Portland'),
 Row(city='Kearny'),
 Row(city='Muskogee'),
 Row(city='Fairborn'),
 Row(city='Dickinson'),
 Row(city='Rotterdam'),
 Row(city='Hacienda Heights'),
 Row(city='San Carlos'),
 Row(city='Coppell'),
 Row(city='Port Orange'),
 Row(city='Garden City'),
 Row(city='Londonderry'),
 Row(city='Wooster'),
 Row(city='Pleasant Grove'),
 Row(city='Pepperell'),
 Row(city='Saco'),
 Row(city='Paramus'),
 Row(city='Florence'),
 Row(city='Prior Lake'),
 Row(city='Glen Ellyn'),
 Row(city='Roselle'),
 Row(city='Huber Heights'),
 Row(city='New Rochelle'),
 Row(city='Aurora'),
 Row(city='Moreno Valley'),
 Row(city='Edinburg'),
 Row(city='Ashland'),
 Row(city='Anacortes'),
 Row(city='Tallahassee'),
 Row(city='Scotch Plains'),
 Row(city='Broken Arrow'),
 Row(city='Boise'),
 Row(city='Manteca'),
 Row(city='Mcallen'),
 Row(city='Mount Pleasant'),
 Row(city='Avondale'),
 Row(city='Ferguson'),
 Row(city='Baton Rouge'),
 Row(city='East Saint Louis'),
 Row(city='Redding'),
 Row(city='Santa Maria'),
 Row(city='Thousand Oaks'),
 Row(city='Rochester Hills'),
 Row(city='Fort Smith'),
 Row(city='Norman'),
 Row(city='Montclair'),
 Row(city='Cheyenne'),
 Row(city='Des Plaines'),
 Row(city='Lombard'),
 Row(city='Andover'),
 Row(city='Saratoga'),
 Row(city='El Cajon'),
 Row(city='Lynn'),
 Row(city='Owosso'),
 Row(city='Teaneck'),
 Row(city='Green Bay'),
 Row(city='Aiken'),
 Row(city='Santa Clara'),
 Row(city='La Grange'),
 Row(city='Land O Lakes'),
 Row(city='Clovis'),
 Row(city='Birmingham'),
 Row(city='Kearney'),
 Row(city='Clayton'),
 Row(city='Hempstead'),
 Row(city='Burbank'),
 Row(city='Daly City'),
 Row(city='Morgan Hill'),
 Row(city='Plano'),
 Row(city='Harker Heights'),
 Row(city='Englewood'),
 Row(city='Hudson'),
 Row(city='Rose Hill'),
 Row(city='Parkersburg'),
 Row(city='Gladstone'),
 Row(city='Pflugerville'),
 Row(city='Belle Glade'),
 Row(city='Pahrump'),
 Row(city='Chapel Hill'),
 Row(city='Pompano Beach'),
 Row(city='Richfield'),
 Row(city='Independence'),
 Row(city='Mansfield'),
 Row(city='Attleboro'),
 Row(city='Burlington'),
 Row(city='Bryant'),
 Row(city='Derby'),
 Row(city='Lynchburg'),
 Row(city='Clarksburg'),
 Row(city='Brookings'),
 Row(city='Southbridge'),
 Row(city='Stoneham'),
 Row(city='Drexel Hill'),
 Row(city='Paragould'),
 Row(city='Lenexa'),
 Row(city='Frankfort'),
 Row(city='Bradenton'),
 Row(city='Westfield'),
 Row(city='Columbus'),
 Row(city='Carson City'),
 Row(city='Elk Grove Village'),
 Row(city='League City'),
 Row(city='Van Buren'),
 Row(city='Collierville'),
 Row(city='Muskego'),
 Row(city='Youngstown'),
 Row(city='Antioch'),
 Row(city='Kingston'),
 Row(city='Memphis'),
 Row(city='Logan'),
 Row(city='Granger'),
 Row(city='Oak Lawn'),
 Row(city='Huntington Beach'),
 Row(city='Hemet'),
 Row(city='Newton'),
 Row(city='Ann Arbor'),
 Row(city='Bullhead City'),
 Row(city='Janesville'),
 Row(city='Boulder'),
 Row(city='Downers Grove'),
 Row(city='Alamogordo'),
 Row(city='Hoboken'),
 Row(city='Arlington Heights'),
 Row(city='Austin'),
 Row(city='Fall River'),
 Row(city='Winchester'),
 Row(city='North Little Rock'),
 Row(city='Sun Prairie'),
 Row(city='Hilton Head Island'),
 Row(city='Cuyahoga Falls'),
 Row(city='Massillon'),
 Row(city='Vincennes'),
 Row(city='Washington'),
 Row(city='Sulphur Springs'),
 Row(city='Ocoee'),
 Row(city='Palm Harbor'),
 Row(city='Ottumwa'),
 Row(city='Madison'),
 Row(city='Sandwich'),
 Row(city='Rocky Mount'),
 Row(city='Bella Vista'),
 Row(city='Gary'),
 Row(city='Ozark'),
 Row(city='Grand Forks'),
 Row(city='Wilmette'),
 Row(city='El Paso'),
 Row(city='Apex'),
 Row(city='Hawthorne'),
 Row(city='Hopatcong'),
 Row(city='Lino Lakes'),
 Row(city='Belleville'),
 Row(city='Mustang'),
 Row(city='Milwaukee'),
 Row(city='Kearns'),
 Row(city='Fargo'),
 Row(city='Pasadena'),
 Row(city='Milton'),
 Row(city='State College'),
 Row(city='Pittsburgh'),
 Row(city='Bartlesville'),
 Row(city='Newport News'),
 Row(city='Beckley'),
 Row(city='South Bend'),
 Row(city='Highland'),
 Row(city='Cranston'),
 Row(city='Cheektowaga'),
 Row(city='Grafton'),
 Row(city='Meriden'),
 Row(city='Rock Hill'),
 Row(city='Oakton'),
 Row(city='Hobart'),
 Row(city='Garland'),
 Row(city='Spring'),
 Row(city='Lacey'),
 Row(city='Gilbert'),
 Row(city='Anderson'),
 Row(city='Shaker Heights'),
 Row(city='Liberal'),
 Row(city='Redondo Beach'),
 Row(city='Waxahachie'),
 Row(city='Duncanville'),
 Row(city='Saint Cloud'),
 Row(city='Long Branch'),
 Row(city='Smyrna'),
 Row(city='Mentor'),
 Row(city='La Quinta'),
 Row(city='Mesquite'),
 Row(city='Texas City'),
 Row(city='Marblehead'),
 Row(city='Gastonia'),
 Row(city='North Port'),
 Row(city='Glen Burnie'),
 Row(city='Bartlett'),
 Row(city='Bolingbrook'),
 Row(city='Lansing'),
 Row(city='Groton'),
 Row(city='Port Charlotte'),
 Row(city='Benton'),
 Row(city='Spartanburg'),
 Row(city='Caldwell'),
 Row(city='Woodmere'),
 Row(city='Lake Jackson'),
 Row(city='Channelview'),
 Row(city='Plymouth'),
 Row(city='Bourne'),
 Row(city='Lunenburg'),
 Row(city='Kirkland'),
 Row(city='Warren'),
 Row(city='Owasso'),
 Row(city='Stow'),
 Row(city='Pueblo West'),
 Row(city='New Castle'),
 Row(city='Barrington'),
 Row(city='Valley Stream'),
 Row(city='Chicago'),
 Row(city='Wellesley'),
 Row(city='Weymouth'),
 Row(city='Apopka'),
 Row(city='Dumont'),
 Row(city='Wayne'),
 Row(city='Gahanna'),
 Row(city='West Islip'),
 Row(city='Lubbock'),
 Row(city='Foxborough'),
 Row(city='Athens'),
 Row(city='Scranton'),
 Row(city='New Brunswick'),
 Row(city='Leawood'),
 Row(city='Plainview'),
 Row(city='El Centro'),
 Row(city='Coachella'),
 Row(city='Tampa'),
 Row(city='Ormond Beach'),
 Row(city='Pontiac'),
 Row(city='Silver Spring'),
 Row(city='Westerville'),
 Row(city='Crystal Lake'),
 Row(city='Martinez'),
 Row(city='Royal Oak'),
 Row(city='Coos Bay'),
 Row(city='Glendale'),
 Row(city='Shawnee'),
 Row(city='Germantown'),
 Row(city='Woodbury'),
 Row(city='Lorain'),
 Row(city='Tooele'),
 Row(city='Papillion'),
 Row(city='Grand Junction'),
 Row(city='Merrillville'),
 Row(city='West Springfield'),
 Row(city='Yuma'),
 Row(city='New Berlin'),
 Row(city='Tysons Corner'),
 Row(city='Portage'),
 Row(city='The Colony'),
 Row(city='Newark'),
 Row(city='North Plainfield'),
 Row(city='Delaware'),
 Row(city='Dalton'),
 Row(city='Fort Lauderdale'),
 Row(city='Nutley'),
 Row(city='Middletown'),
 Row(city='Manhattan Beach'),
 Row(city='Framingham'),
 Row(city='Fort Bragg'),
 Row(city='Seymour'),
 Row(city='Lawton'),
 Row(city='Talladega'),
 Row(city='Oakdale'),
 Row(city='Broomfield'),
 Row(city='Biloxi'),
 Row(city='Inglewood'),
 Row(city='Ponca City'),
 Row(city='Whitehall'),
 Row(city='Bossier City'),
 Row(city='Country Club Hills'),
 Row(city='Lakewood'),
 Row(city='Winter Haven'),
 Row(city='Shelby'),
 Row(city='Kirkwood'),
 Row(city='Acton'),
 Row(city='Eden Prairie'),
 Row(city='The Woodlands'),
 Row(city='Weatherford'),
 Row(city='Inkster'),
 Row(city='Cedar Rapids'),
 Row(city='Ridgewood'),
 Row(city='Highlands Ranch'),
 Row(city='Cohoes'),
 Row(city='Atascadero'),
 Row(city='Lawndale'),
 Row(city='Bedford'),
 Row(city='Somerset'),
 Row(city='Duxbury'),
 Row(city='Sterling Heights'),
 Row(city='Klamath Falls'),
 Row(city='Fountain'),
 Row(city='Rock Springs'),
 Row(city='Lancaster'),
 Row(city='Longview'),
 Row(city='Tinton Falls'),
 Row(city='North Haven'),
 Row(city='Toledo'),
 Row(city='Longmont'),
 Row(city='Crown Point'),
 Row(city='Erie'),
 Row(city='Homewood'),
 Row(city='Olney'),
 Row(city='West Jordan'),
 Row(city='Citrus Heights'),
 Row(city='West Palm Beach'),
 Row(city='Bettendorf'),
 Row(city='Pennsauken'),
 Row(city='Waukesha'),
 Row(city='Mandan'),
 Row(city='Newport'),
 Row(city='Petaluma'),
 Row(city='Haverhill'),
 Row(city='Chicopee'),
 Row(city='Parkland'),
 Row(city='Redmond'),
 Row(city='Yakima'),
 Row(city='Albemarle'),
 Row(city='Eden'),
 Row(city='Wilmington'),
 Row(city='Pueblo'),
 Row(city='Shreveport'),
 Row(city='Wheaton'),
 Row(city='Glendale Heights'),
 Row(city='Round Rock'),
 Row(city='Amarillo'),
 Row(city='Flower Mound'),
 Row(city='Winthrop'),
 Row(city='Asheville'),
 Row(city='Fort Dodge'),
 Row(city='Parsippany'),
 Row(city='East Orange'),
 Row(city='Oak Creek'),
 Row(city='Greeley'),
 Row(city='Mount Lebanon'),
 Row(city='Kalamazoo'),
 Row(city='Pine Bluff'),
 Row(city='Carmel'),
 Row(city='Ithaca'),
 Row(city='Wheeling'),
 Row(city='Vestavia Hills'),
 Row(city='Commerce City'),
 Row(city='Bloomington'),
 Row(city='El Dorado Hills'),
 Row(city='Westminster'),
 Row(city='Carrollton'),
 Row(city='Bremerton'),
 Row(city='Buffalo Grove'),
 Row(city='Dundalk'),
 Row(city='Rogers'),
 Row(city='North Charleston'),
 Row(city='Lincoln'),
 Row(city='San Clemente'),
 Row(city='Grand Prairie'),
 Row(city='Friendswood'),
 Row(city='Puyallup'),
 Row(city='Newnan'),
 Row(city='Woodstock'),
 Row(city='Summit'),
 Row(city='Carpentersville'),
 Row(city='Carol Stream'),
 Row(city='Cleburne'),
 Row(city='Vancouver'),
 Row(city='North Miami Beach'),
 Row(city='Hot Springs'),
 Row(city='Clifton'),
 Row(city='Centereach'),
 Row(city='Macon'),
 Row(city='Santa Fe'),
 Row(city='Lyndhurst'),
 Row(city='Edmond'),
 Row(city='Bessemer'),
 Row(city='Salem'),
 Row(city='Greenwood'),
 Row(city='Santa Ana'),
 Row(city='Waco'),
 Row(city='Wilbraham'),
 Row(city='Bay City'),
 Row(city='Colchester'),
 Row(city='Atlanta'),
 Row(city='Titusville'),
 Row(city='Margate'),
 Row(city='Lafayette'),
 Row(city='Reno'),
 Row(city='College Station'),
 Row(city='Arlington'),
 Row(city='Penn Hills'),
 Row(city='Branford'),
 Row(city='North Kingstown'),
 Row(city='New Orleans'),
 Row(city='Fresno'),
 Row(city='West Hollywood'),
 Row(city='Jackson'),
 Row(city='Troutdale'),
 Row(city='Murfreesboro'),
 Row(city='Lexington'),
 Row(city='Brooklyn Center'),
 Row(city='Las Vegas'),
 Row(city='West Chicago'),
 Row(city='Ontario'),
 Row(city='Pearland'),
 Row(city='Garner'),
 Row(city='Perth Amboy'),
 Row(city='Mount Vernon'),
 Row(city='Oak Forest'),
 Row(city='Los Gatos'),
 Row(city='Laguna Hills'),
 Row(city='Port Arthur'),
 Row(city='Cloverleaf'),
 Row(city='Kennesaw'),
 Row(city='Greenville'),
 Row(city='Daytona Beach'),
 Row(city='Boynton Beach'),
 Row(city='Wyckoff'),
 Row(city='Gadsden'),
 Row(city='Loveland'),
 Row(city='Schererville'),
 Row(city='Owensboro'),
 Row(city='San Mateo'),
 Row(city='Elk Plain'),
 Row(city='Marysville'),
 Row(city='Little Rock'),
 Row(city='Fort Lee'),
 Row(city='Terrytown'),
 Row(city='Colonia'),
 Row(city='Medina'),
 Row(city='Charlottesville'),
 Row(city='Rochester'),
 Row(city='Garfield'),
 Row(city='Grapevine'),
 Row(city='Lufkin'),
 Row(city='Seatac'),
 Row(city='Hazleton'),
 Row(city='Tuscaloosa'),
 Row(city='Grove City'),
 Row(city='North Royalton'),
 Row(city='Murray'),
 Row(city='Hattiesburg'),
 Row(city='Binghamton'),
 Row(city='Indian Trail'),
 Row(city='Edgewood'),
 Row(city='Lehi'),
 Row(city='Raytown'),
 Row(city='Los Banos'),
 Row(city='Pacifica'),
 Row(city='San Angelo'),
 Row(city='Seattle'),
 Row(city='Taylors'),
 Row(city='Myrtle Beach'),
 Row(city='Reynoldsburg'),
 Row(city='Mishawaka'),
 Row(city='Yonkers'),
 Row(city='Redlands'),
 Row(city='Pullman'),
 Row(city='Wake Forest'),
 Row(city='Sun City'),
 Row(city='Irvington'),
 Row(city='Bristol'),
 Row(city='Stamford'),
 Row(city='Appleton'),
 Row(city='West Babylon'),
 Row(city='Palmer'),
 Row(city='Natick'),
 Row(city='Kent'),
 Row(city='Lakeland'),
 Row(city='Jersey City'),
 Row(city='Oshkosh'),
 Row(city='Waynesboro'),
 Row(city='Long Beach'),
 Row(city='Tinley Park'),
 Row(city='Lodi'),
 Row(city='Port Saint Lucie'),
 Row(city='Minnetonka'),
 Row(city='Smithfield'),
 Row(city='Ossining'),
 Row(city='Moline'),
 Row(city='Gainesville'),
 Row(city='Evans'),
 Row(city='Allen Park'),
 Row(city='Boardman'),
 Row(city='Littleton'),
 Row(city='Orland Park'),
 Row(city='Sunnyvale'),
 Row(city='Harlingen'),
 Row(city='Waterloo'),
 Row(city='Bloomfield'),
 Row(city='Hanover Park'),
 Row(city='Milford'),
 Row(city='Belmont'),
 Row(city='Delray Beach'),
 Row(city='La Vergne'),
 Row(city='Wichita'),
 Row(city='Castle Rock'),
 Row(city='Battle Creek'),
 Row(city='Ewing'),
 Row(city='Danbury'),
 Row(city='Horn Lake'),
 Row(city='Port Chester'),
 Row(city='College Park'),
 Row(city='Deland'),
 Row(city='Butte'),
 Row(city='Hamden'),
 Row(city='Garfield Heights'),
 Row(city='Hays'),
 Row(city='Palm Springs'),
 Row(city='Sugar Land'),
 Row(city='Clinton'),
 Row(city='Taylor'),
 Row(city='Beaverton'),
 Row(city='Maryville'),
 Row(city='Pocatello'),
 Row(city='Westerly'),
 Row(city='Costa Mesa'),
 Row(city='Kannapolis'),
 Row(city='Vallejo'),
 Row(city='Oxnard'),
 Row(city='Hurst'),
 Row(city='San Juan'),
 Row(city='Midwest City'),
 Row(city='Mauldin'),
 Row(city='Post Falls'),
 Row(city='Harrisonburg'),
 Row(city='Lake Charles'),

In [36]:
df_Cars.select("state or Province").distinct().collect()

[Row(state or Province='Utah'),
 Row(state or Province='Minnesota'),
 Row(state or Province='Ohio'),
 Row(state or Province='Oregon'),
 Row(state or Province='Arkansas'),
 Row(state or Province='Texas'),
 Row(state or Province='North Dakota'),
 Row(state or Province='Pennsylvania'),
 Row(state or Province='Connecticut'),
 Row(state or Province='Vermont'),
 Row(state or Province='Nebraska'),
 Row(state or Province='Nevada'),
 Row(state or Province='Washington'),
 Row(state or Province='Illinois'),
 Row(state or Province='Oklahoma'),
 Row(state or Province='District of Columbia'),
 Row(state or Province='Delaware'),
 Row(state or Province='New Mexico'),
 Row(state or Province='West Virginia'),
 Row(state or Province='Missouri'),
 Row(state or Province='Rhode Island'),
 Row(state or Province='Georgia'),
 Row(state or Province='Montana'),
 Row(state or Province='Michigan'),
 Row(state or Province='Virginia'),
 Row(state or Province='North Carolina'),
 Row(state or Province='Wyoming'),
 Row(state or Province='Kansas'),
 Row(state or Province='New Jersey'),
 Row(state or Province='Maryland'),
 Row(state or Province='Alabama'),
 Row(state or Province='Arizona'),
 Row(state or Province='Iowa'),
 Row(state or Province='Massachusetts'),
 Row(state or Province='Kentucky'),
 Row(state or Province='Louisiana'),
 Row(state or Province='Mississippi'),
 Row(state or Province='Tennessee'),
 Row(state or Province='New Hampshire'),
 Row(state or Province='Florida'),
 Row(state or Province='Indiana'),
 Row(state or Province='Idaho'),
 Row(state or Province='South Carolina'),
 Row(state or Province='South Dakota'),
 Row(state or Province='California'),
 Row(state or Province='New York'),
 Row(state or Province='Wisconsin'),
 Row(state or Province='Maine'),
 Row(state or Province='Colorado')]

# count of Cars that are sold in different cities

In [37]:
from pyspark.sql.functions import desc

# Display number of values in city column
df_Cars.groupBy('city').count().orderBy(desc("count")).show(df_Cars.count(), True)

+-------------------+-----+
|               city|count|
+-------------------+-----+
|      New York City|  196|
|        Los Angeles|  191|
|            Seattle|   92|
|            Chicago|   88|
|             Boston|   75|
|         Washington|   68|
|       Philadelphia|   57|
|              Miami|   45|
|          Charlotte|   45|
|            Detroit|   42|
|            Atlanta|   39|
|            Houston|   38|
|             Dallas|   36|
|          San Diego|   34|
|        Springfield|   26|
|           Columbus|   25|
|       Mount Vernon|   21|
|      San Francisco|   21|
|            Durango|   20|
|         Burlington|   20|
|           Richmond|   20|
|   Twentynine Palms|   20|
|            Sanford|   20|
|           Danville|   19|
|          Lancaster|   19|
|             Auburn|   18|
|         Prior Lake|   18|
|          Rochester|   17|
|        Gainesville|   17|
|               Troy|   17|
|       Indianapolis|   17|
|             Bangor|   17|
|             Newark|   17|
|        Albuquerque|   17|
|              Boise|   16|
|            Jackson|   16|
|         Long Beach|   16|
|            Clinton|   16|
|          Fairfield|   16|
|           Lewiston|   16|
|           Lakewood|   16|
|          Watertown|   16|
|          Roseville|   16|
|            Dundalk|   15|
|      Saint Charles|   15|
|         Greenville|   15|
|             Newton|   15|
|            Madison|   15|
|            Roswell|   15|
|        Santa Clara|   14|
|       Fayetteville|   14|
|              Dover|   14|
|            Lansing|   14|
|          Cleveland|   14|
|          Southgate|   14|
|          Arlington|   13|
|         Louisville|   13|
|          Rose Hill|   13|
|       Camp Springs|   13|
|        Kansas City|   13|
|          Deer Park|   13|
|     Port Charlotte|   13|
|             Tacoma|   13|
|          West Linn|   13|
|           Carlsbad|   13|
|           Rockford|   13|
|          Plainview|   13|
|           Columbia|   13|
|              Eagle|   13|
|            Concord|   13|
|             Aurora|   12|
|        Baton Rouge|   12|
|            Norfolk|   12|
|            Augusta|   12|
|    Sulphur Springs|   12|
|             Warren|   12|
|            Shawnee|   12|
|            Bozeman|   12|
|           Portland|   12|
|            Redmond|   12|
|         Mason City|   12|
|        Bloomington|   12|
|         Alexandria|   11|
|          Lafayette|   11|
|            Taylors|   11|
|               Kent|   11|
|           Oak Park|   11|
|          Henderson|   11|
|       Bartlesville|   11|
|           Anderson|   11|
|           Caldwell|   11|
|           Bellevue|   11|
|    Madison Heights|   11|
|       Marshalltown|   11|
|    North Las Vegas|   11|
|           Freeport|   11|
|         Atascadero|   11|
|          Texarkana|   11|
|   Hacienda Heights|   11|
|           Meridian|   11|
|        Westminster|   11|
|           Lawrence|   10|
|         Colchester|   10|
|      Bowling Green|   10|
|       Laguna Hills|   10|
|             Monroe|   10|
|             Murray|   10|
|           Temecula|   10|
|             Kokomo|   10|
|          Covington|   10|
|           Pasadena|   10|
|               Rome|   10|
|           Sarasota|   10|
|             Athens|   10|
|   Rancho Cucamonga|   10|
| Palm Beach Gardens|   10|
|            Bedford|   10|
|             Albany|   10|
|     West Lafayette|   10|
|         Bennington|   10|
|        Garden City|   10|
|           Wheeling|   10|
|     Essex Junction|    9|
|          Englewood|    9|
|            Burbank|    9|
|            Hampton|    9|
|          Mansfield|    9|
|    Prairie Village|    9|
|       Port Chester|    9|
|        Sun Prairie|    9|
| Hilton Head Island|    9|
|        Saint Cloud|    9|
|             Peoria|    9|
|           Thornton|    9|
|        Spring Hill|    9|
|    University City|    9|
|          Levittown|    9|
|          Allentown|    9|
|         Wilmington|    9|
|               Saco|    9|
|            Midland|    9|
|         Charleston|    9|
|            Saginaw|    9|
|       Apple Valley|    9|
|              Provo|    9|
|             Kearns|    8|
|              Hobbs|    8|
|           Lawndale|    8|
|  Cleveland Heights|    8|
|  North Miami Beach|    8|
|          Vancouver|    8|
|     Mount Pleasant|    8|
|             Norman|    8|
|           Kennesaw|    8|
|          Los Gatos|    8|
|             Medina|    8|
|             Hudson|    8|
|       Indian Trail|    8|
|           Redlands|    8|
|        Tinley Park|    8|
|               Hays|    8|
|            Muskego|    8|
|         Costa Mesa|    8|
|       Midwest City|    8|
|         Post Falls|    8|
|             Gorham|    8|
|           Red Wing|    8|
|            Hickory|    8|
|         Huntsville|    8|
|         Winchester|    8|
|          Westbrook|    8|
|             Burien|    8|
|             Quincy|    8|
|     Mechanicsville|    8|
|           Billings|    8|
|         Palm Coast|    8|
|             Benton|    8|
|          Oceanside|    8|
|             Canton|    8|
|        East Meadow|    8|
|         Romeoville|    8|
|         Twin Falls|    8|
|             Topeka|    8|
|            Hanover|    8|
|         East Point|    8|
|       Ormond Beach|    8|
|         Portsmouth|    8|
|          Tonawanda|    8|
|             Oviedo|    8|
|         Streamwood|    8|
|           Calexico|    8|
|           Martinez|    8|
|          Pittsburg|    8|
|           Kankakee|    8|
|         Cedar Hill|    8|
|         Oro Valley|    8|
|       Fort Collins|    8|
|            Decatur|    8|
|            Altoona|    8|
|        Phenix City|    8|
|         Sioux City|    8|
|             Pueblo|    8|
|   Glendale Heights|    8|
|                Roy|    8|
|           Florence|    8|
|        Oregon City|    8|
|         Shreveport|    7|
|           New Bern|    7|
|           Fairmont|    7|
|       Schererville|    7|
|           Sandusky|    7|
|            Raytown|    7|
|       Calumet City|    7|
|            Weslaco|    7|
|         Minnetonka|    7|
|            Mauldin|    7|
|           Harrison|    7|
|              Utica|    7|
|              Tempe|    7|
|        Minneapolis|    7|
|             Mobile|    7|
|          Wenatchee|    7|
|              Davis|    7|
|           Kirkwood|    7|
|            Findlay|    7|
|         Greensburg|    7|
|           La Vista|    7|
|         Hutchinson|    7|
|      Huber Heights|    7|
|           Hilliard|    7|
|           Puyallup|    7|
|      Moreno Valley|    7|
|          Anacortes|    7|
|   Royal Palm Beach|    7|
|           Lynnwood|    7|
|    Carpentersville|    7|
|         Menlo Park|    7|
|            Mcallen|    7|
|         Centereach|    7|
|              Salem|    7|
|               Waco|    7|
|               Reno|    7|
|         Penn Hills|    7|
|         McKeesport|    7|
|            Ontario|    7|
|          Green Bay|    7|
|        Port Arthur|    7|
|             Clovis|    7|
|         Birmingham|    7|
|          Elk Plain|    7|
|        Morgan Hill|    7|
|           Hazleton|    7|
|     North Royalton|    7|
|              Plano|    7|
|        Springville|    7|
|           Pacifica|    7|
|       Myrtle Beach|    7|
|        Belle Glade|    7|
|            Yonkers|    7|
|            Bristol|    7|
|             Searcy|    7|
|       Independence|    7|
|            Oshkosh|    7|
|             Bryant|    7|
|          Brookings|    7|
|              Evans|    7|
|          Sunnyvale|    7|
|            Wichita|    7|
|   Garfield Heights|    7|
|          Maryville|    7|
|     Pembroke Pines|    7|
|            Granger|    7|
|            Vallejo|    7|
|           San Juan|    7|
|   West Valley City|    7|
|          Ann Arbor|    7|
|         Janesville|    7|
|      Bullhead City|    7|
|        Creve Coeur|    7|
|         Alamogordo|    7|
|          Biddeford|    7|
|         Valparaiso|    7|
|  North Little Rock|    7|
|             Moscow|    7|
|             Goleta|    7|
|              Berea|    7|
|   East Los Angeles|    7|
|      Overland Park|    7|
|           Wilmette|    7|
|       Oakland Park|    7|
|            Spokane|    7|
|             Euclid|    7|
|             Durham|    7|
|              Fargo|    7|
|        Mooresville|    7|
|         Sacramento|    7|
|    Franklin Square|    7|
|            Hialeah|    7|
|        Saint Louis|    7|
|        Monroeville|    7|
|          Salisbury|    7|
|         Pittsburgh|    7|
|       Randallstown|    7|
|       Newport News|    7|
|        Rock Island|    7|
|             Oakton|    7|
|         Fruit Cove|    7|
|          Brentwood|    7|
|             Conway|    7|
|         Burnsville|    7|
|      Highland Park|    7|
|              Lacey|    7|
|         Saint Paul|    7|
|            Gilbert|    7|
|        Duncanville|    7|
|        Clarksville|    7|
|             Tucson|    7|
|           Beaumont|    7|
|            Odenton|    7|
|           Surprise|    7|
|           New City|    7|
|         Cumberland|    7|
|         Port Huron|    7|
|        Spartanburg|    7|
|   Saint Petersburg|    7|
|               Plum|    7|
|        Channelview|    7|
|               Stow|    7|
|          Mehlville|    7|
|             Pomona|    7|
|             Owasso|    7|
|             Dublin|    7|
|            Oakland|    7|
|             Denton|    7|
|             Laredo|    7|
|       Jacksonville|    7|
|             Marion|    7|
|             Elmira|    7|
|           Spanaway|    7|
|            Lubbock|    7|
|          Nashville|    7|
|         New Albany|    7|
|              Tampa|    7|
|              Elgin|    7|
|       Crystal Lake|    7|
|           Glendale|    7|
|             Tooele|    7|
|          Hollywood|    7|
|    East Massapequa|    7|
|         Montgomery|    7|
|            Trenton|    7|
|         Hinesville|    7|
|      Tysons Corner|    7|
|            Shirley|    7|
|          Los Altos|    7|
|  Ponte Vedra Beach|    7|
|             Dalton|    7|
|    Fort Lauderdale|    7|
|           Torrance|    7|
|            Norwich|    7|
|        San Gabriel|    7|
|           Paradise|    7|
|    Manhattan Beach|    7|
|         Cincinnati|    7|
|              Pharr|    7|
|          Inglewood|    7|
|         Ponca City|    7|
|             Joliet|    7|
|     San Bernardino|    7|
|           Seminole|    7|
|    Upper Arlington|    7|
|            Rutland|    7|
|           Syracuse|    7|
|         Santa Rosa|    7|
|            Mankato|    7|
|            Abilene|    7|
|   Sterling Heights|    7|
|            Miramar|    7|
|   Dearborn Heights|    7|
|           Fountain|    7|
|        Fort Pierce|    7|
|      Klamath Falls|    7|
|               Cary|    7|
|        Summerville|    7|
|           Longview|    7|
|        Forest Park|    7|
|          Goldsboro|    7|
|        West Jordan|    7|
|           Fairborn|    7|
|          Muscatine|    7|
|             Mandan|    7|
|        Walla Walla|    7|
|   South Burlington|    7|
|            Paducah|    7|
|   North Ridgeville|    7|
|        Lake Oswego|    7|
|           Marietta|    7|
|             Eugene|    7|
|         Fort Dodge|    7|
|             Sharon|    7|
|     Jeffersonville|    7|
|             Denver|    7|
|      Mount Lebanon|    7|
|         Rapid City|    7|
|         Fort Wayne|    7|
|           Gallatin|    7|
|    El Dorado Hills|    7|
|          Bremerton|    7|
|          Brunswick|    6|
|           Holbrook|    6|
|        Schenectady|    6|
|             Rogers|    6|
|            Midvale|    6|
|       San Clemente|    6|
|            Raleigh|    6|
|   East Saint Louis|    6|
|        New Orleans|    6|
|          Poinciana|    6|
|            Kearney|    6|
|        Wheat Ridge|    6|
|             Lufkin|    6|
|        Parkersburg|    6|
|               Lehi|    6|
|          Richfield|    6|
|           Sun City|    6|
|           Boardman|    6|
|           Franklin|    6|
|           Savannah|    6|
|        Grants Pass|    6|
|        Bella Vista|    6|
|            El Paso|    6|
|               Apex|    6|
|         Belleville|    6|
|         Carbondale|    6|
|       Redwood City|    6|
|   Colorado Springs|    6|
|            Opelika|    6|
|          Belvidere|    6|
|        Thomasville|    6|
|      Redondo Beach|    6|
|       Strongsville|    6|
|           Kirkland|    6|
|              Alton|    6|
|      Valley Stream|    6|
|            Leawood|    6|
|         Des Moines|    6|
|      Oklahoma City|    6|
|        Westerville|    6|
|            Slidell|    6|
|     Virginia Beach|    6|
|            Pontiac|    6|
|       Saint Peters|    6|
|       East Chicago|    6|
|          Galesburg|    6|
|  Upper Saint Clair|    6|
|            Seymour|    6|
|             Keizer|    6|
|             Tigard|    6|
|     South Portland|    6|
|        Crown Point|    6|
|      Coconut Creek|    6|
|         Perry Hall|    6|
|            Marrero|    6|
|         Bettendorf|    6|
|         San Carlos|    6|
|          Mundelein|    6|
|          Hazelwood|    6|
|            Anaheim|    6|
|       Grand Island|    6|
|        San Antonio|    6|
|          Fitchburg|    6|
|          Woodstock|    6|
|       Carol Stream|    6|
|            Manteca|    6|
|             Oxford|    6|
|      Thousand Oaks|    6|
|            Redding|    6|
|           Sherwood|    6|
|    Brooklyn Center|    6|
|           Saratoga|    6|
|              Aiken|    6|
|             Owosso|    6|
|         Oak Forest|    6|
|             Dayton|    6|
|       Land O Lakes|    6|
|    Charlottesville|    6|
|          Gladstone|    6|
|          Jamestown|    6|
|         Greensboro|    6|
|         Prattville|    6|
|   Port Saint Lucie|    6|
|          Paragould|    6|
|          La Vergne|    6|
|          Escondido|    6|
|       College Park|    6|
|           Woodburn|    6|
|          Van Buren|    6|
|       Collierville|    6|
|       Palm Springs|    6|
|         Kannapolis|    6|
|       Harrisonburg|    6|
|   Huntington Beach|    6|
|        Chattanooga|    6|
|             Layton|    6|
|       Lincoln Park|    6|
|          Massillon|    6|
|             Austin|    6|
|            Potomac|    6|
|          Vincennes|    6|
|             Wilson|    6|
|             Laurel|    6|
|            Ottumwa|    6|
|       Grand Rapids|    6|
|              Minot|    6|
|         Lake Worth|    6|
|            Salinas|    6|
|          Corsicana|    6|
|        Rocky Mount|    6|
|           Muskegon|    6|
|               Lima|    6|
|           Palm Bay|    6|
|         High Point|    6|
|              Xenia|    6|
|        Lindenhurst|    6|
|          Woodridge|    6|
|          Kingsport|    6|
|          Rock Hill|    6|
|            Liberal|    6|
|           Stockton|    6|
|           Superior|    6|
|         Waxahachie|    6|
|             Smyrna|    6|
|             Helena|    6|
|            Rexburg|    6|
|      American Fork|    6|
|    San Luis Obispo|    6|
|           Mesquite|    6|
|         Texas City|    6|
|              Moore|    6|
|             Conroe|    6|
|          Riverside|    6|
|  Lake In The Hills|    6|
|   Minnetonka Mills|    6|
|         Stillwater|    6|
|          Pendleton|    6|
|              Omaha|    6|
|        Pueblo West|    6|
|          Maplewood|    6|
|            Lebanon|    6|
|          Dix Hills|    6|
|             Apopka|    6|
|            Rowlett|    6|
|       Wilkes Barre|    6|
|      Riviera Beach|    6|
|         Naperville|    6|
|          Corvallis|    6|
|         San Marcos|    6|
|          Rosenberg|    6|
|      Michigan City|    6|
|              Tulsa|    6|
|   South Lake Tahoe|    6|
|        Bethel Park|    6|
|          Papillion|    6|
|          Glen Cove|    6|
|        Brownsville|    6|
|          Knoxville|    6|
|         Scottsdale|    6|
|            Fairfax|    6|
|         Eagle Pass|    6|
| Sault Sainte Marie|    6|
|            Oakdale|    6|
|          Whitehall|    6|
|          Camarillo|    6|
| Country Club Hills|    6|
|             Oswego|    6|
|       Santa Monica|    6|
|       Cedar Rapids|    6|
|          Smithtown|    6|
|     Salt Lake City|    6|
|             Draper|    6|
|             Cohoes|    6|
|Pleasure Ridge Park|    6|
|             Toledo|    6|
|               Mesa|    6|
|            Orlando|    6|
|   West Scarborough|    6|
|            Redford|    6|
|          Hermitage|    6|
|           La Porte|    6|
|            Edmonds|    6|
|             Reston|    6|
|     Pleasant Grove|    6|
|              Aloha|    6|
|            Wooster|    6|
|            Emporia|    6|
|       North Platte|    6|
|              Essex|    6|
|             Radnor|    6|
|           Bismarck|    6|
|       Flower Mound|    6|
|           Amarillo|    6|
|         Fort Worth|    6|
|             Ithaca|    6|
|         Carrollton|    6|
|           Holladay|    6|
|        Sioux Falls|    6|
|            Lincoln|    6|
|        Chula Vista|    5|
|      Grand Prairie|    5|
|          La Grange|    5|
|         Tuscaloosa|    5|
|           Edgewood|    5|
|         Willoughby|    5|
|               Lodi|    5|
|       Lake Jackson|    5|
|         New Castle|    5|
|              Flint|    5|
|       Middle River|    5|
|         Blacksburg|    5|
|         Pine Bluff|    5|
|        Friendswood|    5|
|             Newnan|    5|
|           Ferguson|    5|
|            Margate|    5|
|          Montclair|    5|
|          Troutdale|    5|
|             Garner|    5|
|            Gadsden|    5|
|         Marysville|    5|
|       Pflugerville|    5|
|          Mishawaka|    5|
|               Napa|    5|
|            Pullman|    5|
|       West Babylon|    5|
|         Clarksburg|    5|
|       Delray Beach|    5|
|  Elk Grove Village|    5|
|            Commack|    5|
|              Logan|    5|
|            Memphis|    5|
|         Schaumburg|    5|
|           Oak Lawn|    5|
|        North Miami|    5|
|            Dubuque|    5|
|            La Mesa|    5|
|       Melrose Park|    5|
|              Ocoee|    5|
|       White Plains|    5|
|         Lino Lakes|    5|
|          Hawthorne|    5|
|            Visalia|    5|
|            Hopkins|    5|
|         Pikesville|    5|
|          Encinitas|    5|
|       West Memphis|    5|
|            Suffolk|    5|
|       Lehigh Acres|    5|
|           Oakville|    5|
|           Burleson|    5|
|          Riverview|    5|
|     Farmers Branch|    5|
|        Lemon Grove|    5|
|             Neenah|    5|
|           Plymouth|    5|
|           Goodyear|    5|
|       Spanish Fork|    5|
|           Gulfport|    5|
|       Granite City|    5|
|              Nampa|    5|
|      Silver Spring|    5|
|     Grand Junction|    5|
|          Royal Oak|    5|
|            Bothell|    5|
|          Kalispell|    5|
|         Norristown|    5|
|         New Berlin|    5|
|               Yuma|    5|
|   Maryland Heights|    5|
|        Leavenworth|    5|
|             Skokie|    5|
|              Selma|    5|
|         Petersburg|    5|
|         Kingsville|    5|
|           Moorhead|    5|
|         Santa Cruz|    5|
|     Merritt Island|    5|
|            Olympia|    5|
|            Baldwin|    5|
|             Burton|    5|
|          La Crosse|    5|
|           Homewood|    5|
|              Olney|    5|
|        Fort Thomas|    5|
|               York|    5|
|          Manhattan|    5|
|           Petaluma|    5|
|    Prescott Valley|    5|
|           Richland|    5|
|         Cedar Park|    5|
|          Kalamazoo|    5|
|           Dunwoody|    5|
|           Prescott|    5|
|       Douglasville|    5|
|     West Hollywood|    5|
|       West Chicago|    5|
|          Terrytown|    5|
|       Reynoldsburg|    5|
|            Pahrump|    5|
|          Littleton|    5|
|             Moline|    5|
|          Harlingen|    5|

In [38]:
df_Cars.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- State or Province: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: float (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)

In [39]:
from pyspark.sql import Row
from pyspark.sql.functions import min, max

In [40]:
df_Cars.select(min("year"),max("year")).show(df_Cars.count(), False)

+---------+---------+
|min(year)|max(year)|
+---------+---------+
|1994     |2020     |
+---------+---------+

In [41]:
df_Cars.select(min("selling_price"),max("selling_price")).show(df_Cars.count(), False)

+------------------+------------------+
|min(selling_price)|max(selling_price)|
+------------------+------------------+
|29999             |10000000          |
+------------------+------------------+

In [42]:
df_Cars.select(min("max_power"),max("max_power")).show(df_Cars.count(), False)

+--------------+--------------+
|min(max_power)|max(max_power)|
+--------------+--------------+
|32.8          |400.0         |
+--------------+--------------+

In [43]:
df_Cars.select(min("year"),max("year")).show(df_Cars.count(), False)

+---------+---------+
|min(year)|max(year)|
+---------+---------+
|1994     |2020     |
+---------+---------+

# mean and standard deviation for selling_price

In [44]:

from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

df_Cars1 = df_Cars.select(
    _mean(col('selling_price')).alias('mean'),
    _stddev(col('selling_price')).alias('std')
).collect()

mean = df_Cars1[0]['mean']
std = df_Cars1[0]['std']

In [45]:
df_Cars1

[Row(mean=649813.720844928, std=813582.7483541325)]

In [46]:
from pyspark.sql.functions import mean as _mean, stddev as _stddev, col

df_Cars2 = df_Cars.select(
    _mean(col('mileage')).alias('mean'),
    _stddev(col('mileage')).alias('std')
).collect()

mean = df_Cars2[0]['mean']
std = df_Cars2[0]['std']

In [47]:
df_Cars2

[Row(mean=19.18050594485198, std=4.0702331098045645)]

In [50]:
import pyspark.sql.functions as f

df_Cars.groupby('name').agg(f.count('name').alias('count')).show()

+--------------------+-----+
|                name|count|
+--------------------+-----+
|Toyota Etios Liva GD|    8|
|    Datsun GO Plus A|    2|
|Mahindra KUV 100 ...|    3|
|Mahindra Bolero 2...|   19|
|Tata Indica V2 Tu...|    2|
|Datsun GO Anniver...|    1|
|Tata Indica V2 DL...|    4|
|Hyundai i20 1.4 Asta|    2|
| Mahindra TUV 300 T4|    3|
| Honda City 1.5 S MT|    7|
|  Maruti 800 DX BSII|    1|
|Mahindra Bolero S...|    3|
|Maruti Ciaz 1.4 A...|    5|
|  Maruti Zen Classic|    1|
|Mahindra Xylo D2 ...|    3|
|Maruti Swift Lxi ...|    1|
|Toyota Innova 2.5...|    1|
|Mahindra Scorpio ...|    1|
|      Maruti Zen LXI|   11|
|Maruti Swift Dzir...|    7|
+--------------------+-----+
only showing top 20 rows

# correlation

In [51]:
#displaying the correlation between the different columns of the dataset 
from pyspark.ml.stat import Correlation
import pyspark.sql.functions as f
from pyspark.sql.functions import corr
df_Cars.agg(corr("mileage", "selling_price").alias('correlation')).collect()

[Row(correlation=-0.11809890195246613)]

In [52]:
df_Cars.agg(corr("max_power","selling_price").alias('correlation')).collect()

[Row(correlation=0.7496737776232365)]

In [53]:
df_Cars.agg(corr("seats","selling_price").alias('correlation')).collect()

[Row(correlation=0.04161669383026376)]

In [54]:
df_Cars.agg(corr("km_driven","selling_price").alias('correlation')).collect()

[Row(correlation=-0.22215847533483699)]

In [55]:
df_Cars.agg(corr("year","selling_price").alias('correlation')).collect()

[Row(correlation=0.41230155817117037)]

In [56]:
df_Cars.agg(corr("engine","selling_price").alias('correlation')).collect()

[Row(correlation=0.4556818000356127)]

# statistical summary for numerical columns

In [57]:
 #displaying the statisticak summary for everty column in the dataset
df_Cars.select('selling_price').describe().show()

+-------+-----------------+
|summary|    selling_price|
+-------+-----------------+
|  count|             7906|
|   mean| 649813.720844928|
| stddev|813582.7483541325|
|    min|            29999|
|    max|         10000000|
+-------+-----------------+

In [58]:
df_Cars.select('km_driven').describe().show()

+-------+-----------------+
|summary|        km_driven|
+-------+-----------------+
|  count|             7906|
|   mean|69188.65975208703|
| stddev|56792.29634331763|
|    min|                1|
|    max|          2360457|
+-------+-----------------+

In [59]:
df_Cars.select('max_power').describe().show()

+-------+-----------------+
|summary|        max_power|
+-------+-----------------+
|  count|             7906|
|   mean|91.58737369540249|
| stddev|35.74721595179561|
|    min|             32.8|
|    max|            400.0|
+-------+-----------------+

In [60]:
df_Cars.select('seats').describe().show()

+-------+------------------+
|summary|             seats|
+-------+------------------+
|  count|              7906|
|   mean|5.4163926132051605|
| stddev|0.9592082121984603|
|    min|                 2|
|    max|                14|
+-------+------------------+

In [61]:
df_Cars.select('mileage').describe().show()

+-------+------------------+
|summary|           mileage|
+-------+------------------+
|  count|              7906|
|   mean| 19.18050594485198|
| stddev|4.0702331098045645|
|    min|               0.0|
|    max|              42.0|
+-------+------------------+

In [67]:
df_US=[col for col,type in df_Cars.dtypes if type in ['int','float','double']]
cor_mat=[]
for col1 in df_US:
    temp=[]
    for col2 in df_US:
        temp.append(df_Cars.corr(col1,col2))
    cor_mat.append(temp)

In [68]:
for col in ['']+df_US: print("%10s"%col, end=' ')
print()
i=0
for col in df_US:
    print("%10s"%col,end=' ')
    for corr in cor_mat[i]:
        print("%10.2f"%corr,end=' ')
    print()
    i+= 1

             Sales_ID       year selling_price  km_driven    mileage     engine  max_power      seats
  Sales_ID       1.00      -0.00      -0.01       0.01       0.03      -0.01      -0.00      -0.01
      year      -0.00       1.00       0.41      -0.43       0.34       0.02       0.23      -0.01
selling_price      -0.01       0.41       1.00      -0.22      -0.12       0.46       0.75       0.04
 km_driven       0.01      -0.43      -0.22       1.00      -0.18       0.21      -0.04       0.23
   mileage       0.03       0.34      -0.12      -0.18       1.00      -0.57      -0.36      -0.45
    engine      -0.01       0.02       0.46       0.21      -0.57       1.00       0.70       0.61
 max_power      -0.00       0.23       0.75      -0.04      -0.36       0.70       1.00       0.19
     seats      -0.01      -0.01       0.04       0.23      -0.45       0.61       0.19       1.00

In [70]:
df_US

['Sales_ID',
 'year',
 'selling_price',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats']

In [71]:
from pyspark.sql.functions import countDistinct
df2=df_Cars.select(countDistinct( "Region"),countDistinct("name"),countDistinct("year"),countDistinct("selling_price"))
df2.show()

+----------------------+--------------------+--------------------+-----------------------------+
|count(DISTINCT Region)|count(DISTINCT name)|count(DISTINCT year)|count(DISTINCT selling_price)|
+----------------------+--------------------+--------------------+-----------------------------+
|                     4|                1982|                  27|                          670|
+----------------------+--------------------+--------------------+-----------------------------+

# 4 Write PySpark routines to cleanse the data, prepare the data to handle missing values, and the data transformations identified in task 1.1 again making sure that the data is written into Hive tables in an efficient format

In [72]:
from pyspark.sql.functions import split
df_Cars=df_Cars.withColumn('brand',split(df_Cars['name'],'\s')[0])

In [73]:
df_Cars.show()

+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|Sales_ID|                name|year|selling_price|km_driven|   State or Province|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|     brand|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.0|  1248|     74.0|    5|   Y|  East|    Maruti|
|      38|Hyundai Verna VTV...|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|   Hyundai|
|      66|Ford Figo 1.2P Ti...|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|   18.1|  1196|     86.8|    5|   Y|  East|      Ford|
|      68|Volkswagen Ameo 1...|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|Volkswagen|
|      69|Honda City i DTEC VX|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.0|  1498|     98.6|    5|   Y|  East|     Honda|
|      70|Maruti Wagon R AM...|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|   20.5|   998|     67.0|    5|   Y|  East|    Maruti|
|     101|  Maruti Wagon R VXI|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|   21.7|   998|    67.05|    5|   Y|  East|    Maruti|
|     102|Tata Manza Aura (...|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.0|  1248|     90.0|    5|   Y|  East|      Tata|
|     103|    Maruti Swift VXI|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   21.2|  1197|     81.8|    5|   Y|  East|    Maruti|
|     121|Nissan Terrano XL...|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|   20.4|  1461|     83.8|    5|   Y|  East|    Nissan|
|     130|   Maruti Ertiga VDI|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   20.7|  1248|    88.76|    7|   Y|  East|    Maruti|
|     131|Honda Amaze S i-VTEC|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.0|  1198|     86.7|    5|   Y|  East|     Honda|
|     145|Toyota Corolla Al...|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|   14.2|  1798|   138.03|    5|   Y|  East|    Toyota|
|     146|Volvo XC40 D4 R-D...|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|     Volvo|
|     150|   BMW 5 Series 523i|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.0|  2497|    150.0|    5|   Y|  East|       BMW|
|     151|   Hyundai Elantra S|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.0|  1797|    147.5|    5|   Y|  East|   Hyundai|
|     154|Volkswagen Vento ...|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   15.0|  1598|    103.6|    5|   Y|  East|Volkswagen|
|     168|BMW 5 Series 520d...|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.1|  1995|    190.0|    5|   Y|  East|       BMW|
|     176|Maruti Wagon R AM...|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|   20.5|   998|     67.0|    5|   Y|  East|    Maruti|
|     178|      Maruti 800 Std|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.0|   796|     37.0|    4|   Y|  East|    Maruti|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
only showing top 20 rows

In [74]:
from pyspark.sql.functions import split 
df_Cars= df_Cars.withColumnRenamed('State or Province' , 'state')
df_Cars.show()

+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|Sales_ID|                name|year|selling_price|km_driven|               state|      City|  fuel|seller_type|transmission|       owner|mileage|engine|max_power|seats|sold|Region|     brand|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
|       1|Maruti Swift Dzir...|2014|       450000|   145500|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   23.0|  1248|     74.0|    5|   Y|  East|    Maruti|
|      38|Hyundai Verna VTV...|2019|      1149000|     5000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   17.0|  1591|    121.3|    5|   Y|  East|   Hyundai|
|      66|Ford Figo 1.2P Ti...|2017|       600000|    25000|District of Columbia|Washington|Petrol| Individual|      Manual| Third Owner|   18.1|  1196|     86.8|    5|   Y|  East|      Ford|
|      68|Volkswagen Ameo 1...|2016|       540000|    40000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   22.0|  1498|  108.495|    5|   Y|  East|Volkswagen|
|      69|Honda City i DTEC VX|2015|       630000|   135000|District of Columbia|Washington|Diesel| Individual|      Manual| First Owner|   25.0|  1498|     98.6|    5|   Y|  East|     Honda|
|      70|Maruti Wagon R AM...|2018|       448000|    30000|District of Columbia|Washington|Petrol| Individual|   Automatic| First Owner|   20.5|   998|     67.0|    5|   Y|  East|    Maruti|
|     101|  Maruti Wagon R VXI|2009|       185000|    77000|District of Columbia|Washington|Petrol|     Dealer|      Manual|Second Owner|   21.7|   998|    67.05|    5|   Y|  East|    Maruti|
|     102|Tata Manza Aura (...|2010|       200000|   100000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   18.0|  1248|     90.0|    5|   Y|  East|      Tata|
|     103|    Maruti Swift VXI|2019|       615000|    10000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   21.2|  1197|     81.8|    5|   Y|  East|    Maruti|
|     121|Nissan Terrano XL...|2014|       400000|    70000|District of Columbia|Washington|Diesel| Individual|      Manual| Third Owner|   20.4|  1461|     83.8|    5|   Y|  East|    Nissan|
|     130|   Maruti Ertiga VDI|2015|       700000|   110000|District of Columbia|Washington|Diesel| Individual|      Manual|Second Owner|   20.7|  1248|    88.76|    7|   Y|  East|    Maruti|
|     131|Honda Amaze S i-VTEC|2019|       690000|     1303|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   17.0|  1198|     86.7|    5|   Y|  East|     Honda|
|     145|Toyota Corolla Al...|2013|       625000|    39000|District of Columbia|Washington|Petrol|     Dealer|   Automatic| First Owner|   14.2|  1798|   138.03|    5|   Y|  East|    Toyota|
|     146|Volvo XC40 D4 R-D...|2018|      3400000|    22000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.0|  1969|    190.0|    5|   Y|  East|     Volvo|
|     150|   BMW 5 Series 523i|2010|       975000|    72200|District of Columbia|Washington|Petrol|     Dealer|   Automatic|Second Owner|   10.0|  2497|    150.0|    5|   Y|  East|       BMW|
|     151|   Hyundai Elantra S|2016|       805000|    49900|District of Columbia|Washington|Petrol|     Dealer|      Manual| First Owner|   16.0|  1797|    147.5|    5|   Y|  East|   Hyundai|
|     154|Volkswagen Vento ...|2011|       375000|    49000|District of Columbia|Washington|Petrol| Individual|      Manual| First Owner|   15.0|  1598|    103.6|    5|   Y|  East|Volkswagen|
|     168|BMW 5 Series 520d...|2016|      2900000|    12000|District of Columbia|Washington|Diesel|     Dealer|   Automatic| First Owner|   18.1|  1995|    190.0|    5|   Y|  East|       BMW|
|     176|Maruti Wagon R AM...|2015|       390000|    50000|District of Columbia|Washington|Petrol| Individual|   Automatic|Second Owner|   20.5|   998|     67.0|    5|   Y|  East|    Maruti|
|     178|      Maruti 800 Std|1999|        40000|    40000|District of Columbia|Washington|Petrol| Individual|      Manual|Second Owner|   16.0|   796|     37.0|    4|   Y|  East|    Maruti|
+--------+--------------------+----+-------------+---------+--------------------+----------+------+-----------+------------+------------+-------+------+---------+-----+----+------+----------+
only showing top 20 rows

In [76]:
spark.sql("SELECT brand,COUNT(brand) FROM cars_Sales GROUP BY brand order by count(brand) desc").show(5)

+--------+------------+
|   brand|count(brand)|
+--------+------------+
|  Maruti|        2367|
| Hyundai|        1360|
|Mahindra|         758|
|    Tata|         719|
|   Honda|         466|
+--------+------------+
only showing top 5 rows

In [77]:
 #displaying the region wise count of sales data
spark.sql("SELECT Region,COUNT(*) FROM cars_Sales GROUP BY Region order by count(*) desc").show(5)

+-------+--------+
| Region|count(1)|
+-------+--------+
|Central|    2376|
|   West|    1976|
|   East|    1939|
|  South|    1615|
+-------+--------+

In [78]:
 #displaying the city wise count of sales data
spark.sql("SELECT city,COUNT(*) FROM cars_Sales GROUP BY city order by count(*) desc").show(5)

+-------------+--------+
|         city|count(1)|
+-------------+--------+
|New York City|     196|
|  Los Angeles|     191|
|      Seattle|      92|
|      Chicago|      88|
|       Boston|      75|
+-------------+--------+
only showing top 5 rows

In [79]:
 #displaying the state wise count of sales data
spark.sql("SELECT state,COUNT(*) FROM cars_Sales GROUP BY state order by count(*) desc").show(5)

+----------+--------+
|     state|count(1)|
+----------+--------+
|California|     901|
|     Texas|     499|
|  New York|     491|
|  Illinois|     489|
|   Florida|     425|
+----------+--------+
only showing top 5 rows

## 5) If the predictive model identified in task 2.4 available in Spark MLlib then develop a PySpark application to implement and evaluate the ML model identified with appropriate metrics

In [82]:
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
for col,type in df_Cars.dtypes:
    if type=='string':
        indexer = StringIndexer(inputCol=col, outputCol=col+"Index")
        df_Cars = indexer.fit(df_Cars).transform(df_Cars)
        df_Cars=df_Cars.drop(col)
df_Cars.show()

+--------+----+-------------+---------+-------+------+---------+-----+---------+----------+---------+---------+----------------+-----------------+----------+---------+-----------+----------+
|Sales_ID|year|selling_price|km_driven|mileage|engine|max_power|seats|nameIndex|stateIndex|CityIndex|fuelIndex|seller_typeIndex|transmissionIndex|ownerIndex|soldIndex|RegionIndex|brandIndex|
+--------+----+-------------+---------+-------+------+---------+-----+---------+----------+---------+---------+----------------+-----------------+----------+---------+-----------+----------+
|       1|2014|       450000|   145500|   23.0|  1248|     74.0|    5|      0.0|      33.0|      5.0|      0.0|             0.0|              0.0|       0.0|      1.0|        2.0|       0.0|
|      38|2019|      1149000|     5000|   17.0|  1591|    121.3|    5|    346.0|      33.0|      5.0|      1.0|             0.0|              0.0|       0.0|      1.0|        2.0|       1.0|
|      66|2017|       600000|    25000|   18.1|  1196|     86.8|    5|    258.0|      33.0|      5.0|      1.0|             0.0|              0.0|       2.0|      1.0|        2.0|       6.0|
|      68|2016|       540000|    40000|   22.0|  1498|  108.495|    5|    534.0|      33.0|      5.0|      0.0|             0.0|              0.0|       0.0|      1.0|        2.0|       9.0|
|      69|2015|       630000|   135000|   25.0|  1498|     98.6|    5|    123.0|      33.0|      5.0|      0.0|             0.0|              0.0|       0.0|      1.0|        2.0|       4.0|
|      70|2018|       448000|    30000|   20.5|   998|     67.0|    5|    142.0|      33.0|      5.0|      1.0|             0.0|              1.0|       0.0|      1.0|        2.0|       0.0|
|     101|2009|       185000|    77000|   21.7|   998|    67.05|    5|     79.0|      33.0|      5.0|      1.0|             1.0|              0.0|       1.0|      1.0|        2.0|       0.0|
|     102|2010|       200000|   100000|   18.0|  1248|     90.0|    5|    308.0|      33.0|      5.0|      0.0|             0.0|              0.0|       1.0|      1.0|        2.0|       3.0|
|     103|2019|       615000|    10000|   21.2|  1197|     81.8|    5|     40.0|      33.0|      5.0|      1.0|             0.0|              0.0|       0.0|      1.0|        2.0|       0.0|
|     121|2014|       400000|    70000|   20.4|  1461|     83.8|    5|    263.0|      33.0|      5.0|      0.0|             0.0|              0.0|       2.0|      1.0|        2.0|      12.0|
|     130|2015|       700000|   110000|   20.7|  1248|    88.76|    7|      9.0|      33.0|      5.0|      0.0|             0.0|              0.0|       1.0|      1.0|        2.0|       0.0|
|     131|2019|       690000|     1303|   17.0|  1198|     86.7|    5|    262.0|      33.0|      5.0|      1.0|             1.0|              0.0|       0.0|      1.0|        2.0|       4.0|
|     145|2013|       625000|    39000|   14.2|  1798|   138.03|    5|    907.0|      33.0|      5.0|      1.0|             1.0|              1.0|       0.0|      1.0|        2.0|       5.0|
|     146|2018|      3400000|    22000|   18.0|  1969|    190.0|    5|    960.0|      33.0|      5.0|      0.0|             1.0|              1.0|       0.0|      1.0|        2.0|      14.0|
|     150|2010|       975000|    72200|   10.0|  2497|    150.0|    5|   1472.0|      33.0|      5.0|      1.0|             1.0|              1.0|       1.0|      1.0|        2.0|      10.0|
|     151|2016|       805000|    49900|   16.0|  1797|    147.5|    5|    961.0|      33.0|      5.0|      1.0|             1.0|              0.0|       0.0|      1.0|        2.0|       1.0|
|     154|2011|       375000|    49000|   15.0|  1598|    103.6|    5|    720.0|      33.0|      5.0|      1.0|             0.0|              0.0|       0.0|      1.0|        2.0|       9.0|
|     168|2016|      2900000|    12000|   18.1|  1995|    190.0|    5|    533.0|      33.0|      5.0|      0.0|             1.0|              1.0|       0.0|      1.0|        2.0|      10.0|
|     176|2015|       390000|    50000|   20.5|   998|     67.0|    5|    142.0|      33.0|      5.0|      1.0|             0.0|              1.0|       1.0|      1.0|        2.0|       0.0|
|     178|1999|        40000|    40000|   16.0|   796|     37.0|    4|     59.0|      33.0|      5.0|      1.0|             0.0|              0.0|       1.0|      1.0|        2.0|       0.0|
+--------+----+-------------+---------+-------+------+---------+-----+---------+----------+---------+---------+----------------+-----------------+----------+---------+-----------+----------+
only showing top 20 rows

In [81]:
df_Cars.printSchema()

root
 |-- Sales_ID: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- selling_price: integer (nullable = true)
 |-- km_driven: integer (nullable = true)
 |-- state: string (nullable = true)
 |-- City: string (nullable = true)
 |-- fuel: string (nullable = true)
 |-- seller_type: string (nullable = true)
 |-- transmission: string (nullable = true)
 |-- owner: string (nullable = true)
 |-- mileage: double (nullable = true)
 |-- engine: integer (nullable = true)
 |-- max_power: float (nullable = true)
 |-- seats: integer (nullable = true)
 |-- sold: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- brand: string (nullable = true)

In [84]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.feature import IndexToString, StringIndexer, VectorIndexer
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler


assembler = VectorAssembler(
    inputCols=["Sales_ID","nameIndex","year","km_driven","stateIndex","CityIndex","fuelIndex","seller_typeIndex","transmissionIndex","ownerIndex","mileage","engine","max_power","seats","soldIndex","RegionIndex","brandIndex"],
    outputCol="features")

# Split the data into training and test sets (30% held out for testing)
(training, test) = df_Cars.randomSplit([0.7, 0.3])

lr = LinearRegression(maxIter=10, regParam=0.3, elasticNetParam=0.8,featuresCol='features',labelCol="selling_price")

# Fit the model
lrModel = lr.fit(training)

# Print the coefficients and intercept for linear regression
print("Coefficients: %s" % str(lrModel.coefficients))
print("Intercept: %s" % str(lrModel.intercept))

# Summarize the model over the training set and print out some metrics
trainingSummary = lrModel.summary
print("numIterations: %d" % trainingSummary.totalIterations)
print("objectiveHistory: %s" % str(trainingSummary.objectiveHistory))
trainingSummary.residuals.show()
print("RMSE: %f" % trainingSummary.rootMeanSquaredError)
print("r2: %f" % trainingSummary.r2)

Coefficients: [0.24824352544351283,-210.29710188050367,35025.03728962152,-0.9210947248044399,-185.5615124077575,32.54320731563402,8415.294913878748,50121.75683161901,463835.6401824925,-728.0645779140756,13090.661885260024,131.7852088976598,12103.15058421388,-37747.36517322989,17816.342076025252,7994.961425441501,25223.70067391257]
Intercept: -71270116.59206624
numIterations: 11
objectiveHistory: [0.5000000000000001, 0.4368799591686584, 0.2408567124233807, 0.18671776959325592, 0.1697498228796912, 0.16282159086732131, 0.159090039428299, 0.15675562201466697, 0.15453230529241627, 0.15434182360240375, 0.15416579556891882]
+-------------------+
|          residuals|
+-------------------+
| -475825.1457211077|
| 369307.31745284796|
|  990316.3407754451|
| -96341.93357011676|
|-481838.11608687043|
| -56643.53535871208|
|  625016.8992832005|
| 62604.437858879566|
| 39957.627614200115|
| -5756.297112166882|
| 30941.587985157967|
|  335607.1151865274|
|  9944.753476083279|
|  89798.77241577208|
| -32859.14676345885|
| 198017.52726624906|
|  420278.7844196409|
|  512955.1442323923|
| 157689.17422652245|
|   152907.907428056|
+-------------------+
only showing top 20 rows

RMSE: 456883.027734
r2: 0.691669

In [93]:
pred=lrModel.evaluate(test)
print(pred.meanSquaredError)

192581375938.08713